@import "./vars";

// html {
//   font-family: $font-inter;
//   font-weight: 400;
//   font-size: 1.8rem;
//   line-height: 2.2rem;
//   color: $black_1;
// }

// *::before,
// *::after {
//   font-family: inherit;
//   font-weight: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   color: inherit;
// }

*,
*::before,
*::after {
  font-family: $font-inter;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $black_1;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 176rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.default-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: $blue;
}

.block-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}

.page-head {
  padding: 8rem 0rem 10rem;

  &__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.8rem;
    text-transform: uppercase;
    color: $blue;
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 4.3rem;
    margin-bottom: 4rem;

    &__link {
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0.03em;
      color: rgba(130, 130, 130, 1);
      transition: 0.3s;

      &:hover {
        color: $blue;
      }

      &:not(:first-child) {
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
          content: "";
          width: 1rem;
          height: 0.1rem;
          background-color: rgba(130, 130, 130, 1);
        }
      }

      &:last-child {
        color: $blue;
        pointer-events: none;

        &::before {
          background-color: $blue;
        }
      }
    }
  }
}
