$cos_bp: 1330px;
$xl-bp: 1024px;

$lg-bp: 920px;
$sm-bp: 500px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1440px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;
$xs-bp: 375px;

// colors
$blue: rgba(50, 139, 194, 1);
$white: rgba(255, 255, 255, 1);
$black_1: rgba(0, 0, 0, 1);
$black_2: rgba(28, 28, 28, 1);
$grey_1: rgba(51, 51, 51, 1);
$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;