.info {
  &-container {
    max-width: 100%;
    display: flex;
    gap: 6.5rem;
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      flex-direction: column;
      margin-bottom: 8rem;
    }

    @include breakpoint($sm-bp) {
      gap: 2rem;
    }
  }

  &-nav {
    width: 43.1rem;
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    transition: 0.5s;

    @include breakpoint($xl-bp) {
      width: 100%;
      max-width: 50rem;

      &._active {
        padding: 2rem 0;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.4rem;
      transition: 0.3s;

      @include breakpoint($xl-bp) {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
      }

      &:hover {
        color: $blue;
        opacity: 0.5;
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid $blue;
        padding-bottom: 1.9rem;
      }

      &._active {
        font-weight: 700;
        color: $blue;
        pointer-events: none;

        @include breakpoint($xl-bp) {
          display: none;
        }
      }
    }

    &-btn {
      width: 100%;
      max-width: 50rem;
      padding-right: 5rem;
      padding-left: 1.5rem;
      position: relative;
      min-height: 6rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $white;
      background-color: $blue;
      display: none;
      text-align: left;

      @include breakpoint($xl-bp) {
        display: flex;
      }

      &._active {
        svg {
          transform: scaleY(-1);
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 2rem;
        fill: $white;
      }
    }
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    overflow: hidden;

    @include breakpoint($xl-bp) {
      gap: 6rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    @include infoText;

    @include breakpoint($sm-bp) {
      gap: 2rem;
      font-size: 1.4rem;
      line-height: 1.7rem;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include infoText;

      @include breakpoint($sm-bp) {
        gap: 1rem;
      }
    }
  }

  &-table {
    display: flex;
    flex-direction: column;

    @include breakpoint($xl-bp) {
      overflow: auto;
      padding-bottom: 1rem;
      &::-webkit-scrollbar {
        width: 0.9rem; /* ширина scrollbar */
        height: 0.9rem;
      }
      &::-webkit-scrollbar-track {
        background: rgba(73, 153, 204, 0.16); /* цвет дорожки */
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(50, 139, 194, 1); /* цвет плашки */
        border-radius: 0.9rem; /* закругления плашки */
      }
    }

    &__container {
      @include breakpoint($xl-bp) {
        width: 130rem;
      }
    }

    &-item {
      padding: 1rem 0;
      display: grid;
      gap: 1.5rem;

      &__text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        @include infoText;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      &.info-table-head {
        padding: 0rem 0rem 1rem;
        border-bottom: 0.1rem solid $blue;
        margin-bottom: 1.7rem;

        .info-table-item__text {
          font-weight: 700;
        }
      }
    }

    &_1 {
      .info-table-item {
        grid-template-columns: 11% 13% 13% 15% 13% 15% auto;
      }
    }

    &_2 {
      .info-table__container {
        width: 71.2rem;
      }

      .info-table-item {
        grid-template-columns: auto 36.51% 36.51%;

        &:not(.info-table-head) {
          .info-table-item__text {
            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }

    &_3 {
      .info-table__container {
        width: 71.2rem;
      }

      .info-table-item {
        grid-template-columns: 50% 50%;

        &:not(.info-table-head) {
          .info-table-item__text {
            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }

    &_4 {
      .info-table__container {
        width: 71.2rem;
      }

      .info-table-item {
        grid-template-columns: auto 36.51% 36.51%;

        &:not(.info-table-head) {
          .info-table-item__text {
            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }

    &_5 {
      .info-table-item {
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
      }
    }

    &_6 {
      .info-table-item {
        grid-template-columns: auto 25% 14.22% 10% 16% 19%;
        gap: 2rem;
      }
    }

    &_7 {
      .info-table-item {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
      }
    }

    &_8 {
      .info-table__container {
        width: 87.7rem;
      }

      .info-table-item {
        grid-template-columns: 30.33% 23.6% 21.66% auto;
        gap: 2rem;
      }
    }

    &_9 {
      .info-table__container {
        width: fit-content;
        background-color: $blue;
        border: 0.1rem solid $blue;
        display: flex;
        flex-direction: column;
        gap: 1px;
      }

      .info-table-item {
        grid-template-columns: 17.6rem repeat(8, 7.6rem);
        padding: 0;
        border: none;
        margin: 0;
        background-color: $blue;
        gap: 1px;

        .info-table-item__text {
          background-color: $white;

          &:not(:first-child) {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:first-child {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

        &.info-table-head {
          grid-template-columns: 17.6rem repeat(2, 1fr);

          .info-table-item__inner {
            display: grid;
            grid-template-columns: repeat(4, 7.6rem);
            grid-template-rows: repeat(2, 1fr);
            gap: 1px;
            background-color: $blue;

            .info-table-item__text {
              display: flex;
              align-items: center;
              justify-content: center;

              &:nth-child(1) {
                grid-area: 1/1/2/5;
                padding: 2rem;
              }
            }
          }
        }
      }
    }

    &_10 {
      .info-table__container {
        width: 87.1rem;
      }

      .info-table-item {
        grid-template-columns: repeat(4, 1fr);

        &:not(.info-table-head) {
          .info-table-item__text {
            text-align: center;
          }
        }
      }
    }

    &_11 {
      .info-table__container {
        width: 88rem;
      }

      .info-table-item {
        grid-template-columns: 15.34% 25% auto 17% 17%;

        &__text {
          &:nth-child(1n + 3) {
            text-align: center;
          }
        }
      }
    }

    &_12 {
      .info-table__container {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
        min-width: 98rem;
        background-color: $blue;
        border: 0.1rem solid $blue;
      }

      .info-table-item {
        grid-template-columns: 17.6rem repeat(4, 1fr);
        padding: 0;
        border: none;
        margin: 0;
        background-color: $blue;
        gap: 1px;

        .info-table-item__text {
          background-color: $white;

          &:not(:first-child) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0rem 2rem;
          }

          &:first-child {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

        &.info-table-head {
          grid-template-columns: 17.6rem repeat(2, 1fr);

          .info-table-item__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1px;
            background-color: $blue;

            .info-table-item__text {
              display: flex;
              align-items: center;
              justify-content: center;

              &:nth-child(1) {
                grid-area: 1/1/2/3;
                padding: 2rem;
              }
            }
          }
        }
      }
    }

    &_13 {
      .info-table__container {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 100%;
        background-color: $blue;
        border: 0.1rem solid $blue;
        min-width: 98rem;
      }

      .info-table-item {
        grid-template-columns: repeat(6, 1fr);
        padding: 0;
        border: none;
        margin: 0;
        background-color: $blue;
        gap: 1px;

        .info-table-item__text {
          background-color: $white;

          &:not(:first-child) {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
          }

          &:first-child {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

        &.info-table-head {
          .info-table-item__text {
            text-align: center;
          }
        }
      }
    }
  }

  &-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;

    @include breakpoint($xl-bp) {
      gap: 2rem;
      justify-content: space-between;
    }

    @include breakpoint($sm-bp) {
      flex-direction: column;
    }

    &__title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      color: $blue;

      @include breakpoint($sm-bp) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }

    &__btn {
      flex: none;
      display: inline-block;
      padding: 1.9rem 3.4rem;
      background-color: $blue;
      color: $white;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-family: $font-montserrat;
      text-align: center;

      @include breakpoint($sm-bp) {
        width: 100%;
      }
    }
  }

  &-images {
    &-btns {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 3rem;

      &__btn {
        width: 4rem;
        height: 3rem;

        svg {
          width: 100%;
          height: 100%;
          fill: $blue;
        }

        &.swiper-button-disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    &-item {
      min-height: 84.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoint($sm-bp) {
        min-height: unset;
      }

      &__text {
        flex: 1;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.9rem;
      }

      &__img {
        flex: none;
        width: 100%;
        height: 78rem;
        flex: none;

        @include breakpoint($sm-bp) {
          height: 46rem;
        }

        img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
