.main {
  &-top {
    background-color: $blue;
    overflow: hidden;
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
        padding-top: 2.4rem;
        gap: 3rem;
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center center;
        width: 50vw;
        height: 100%;

        @include breakpoint($xl-bp) {
          position: static;
          width: 100%;
        }
      }

      @include breakpoint($xl-bp) {
        position: static;
        height: 60rem;
        width: calc(100% + 3rem);
        margin: 0rem -1.5rem;
      }

      @include breakpoint($sm-bp) {
        height: 29.7rem;
      }
    }

    &__title {
      color: $white;
      margin-bottom: 6rem;

      @include breakpoint($xl-bp) {
        text-align: center;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: 3rem;
      }
    }

    &-form {
      padding: 6rem 0rem 7.2rem;

      @include breakpoint($xl-bp) {
        padding: 0;
      }

      &__inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 44rem;

        @include breakpoint($xl-bp) {
          margin: 0 auto;
        }
      }

      &__input {
        width: 100%;
        height: 6rem;
        display: flex;
        align-items: center;
        padding-left: 2.6rem;
        background-color: $white;

        svg {
          flex: none;
          width: 1.3rem;
          height: 1.3rem;
          fill: $blue;
        }

        input {
          flex: 1;
          height: 100%;
          border: none;
          padding: 0 0 0 2.6rem;
          outline: none;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;
          font-family: $font-montserrat;
          color: $black_1;

          &::placeholder {
            color: rgba(117, 117, 117, 1);
          }
        }
      }

      &__legal {
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: rgba(224, 224, 224, 1);
        @include text;
        margin-bottom: 1rem;

        a {
          text-decoration: underline;
        }
      }

      &__btn {
        width: 38.2rem;
        height: 6rem;
        background-color: $black_2;
        border: 0.2rem solid $black_2;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $font-montserrat;
        text-align: center;

        &:hover {
          background-color: transparent;
          color: $black_2;
        }

        @include breakpoint($xl-bp) {
          width: 100%;
        }
      }
    }
  }

  &-advantages {
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__title {
      margin-bottom: 8rem;

      @include breakpoint($sm-bp) {
        margin-bottom: 2.8rem;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 6rem;
      flex-wrap: wrap;

      @include breakpoint($xl-bp) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint($sm-bp) {
        grid-template-columns: 1fr;
        gap: 3rem;
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &__number {
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.7rem;
        letter-spacing: 0.03em;
        color: $blue;
        padding-bottom: 1.4rem;
        border-bottom: 0.1rem solid $blue;
        width: 100%;
        margin-bottom: 1.5rem;
      }

      &__title {
        margin-bottom: 2rem;
      }

      &__text {
        max-width: 35rem;
        letter-spacing: 0.03em;

        @include breakpoint($sm-bp) {
          font-size: 1.6rem;
          line-height: 1.9rem;
        }
      }
    }
  }

  &-specialization {
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__title {
      margin-bottom: 8rem;

      @include breakpoint($sm-bp) {
        margin-bottom: 4rem;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include breakpoint($xl-bp) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4rem;
      }

      @include breakpoint($sm-bp) {
        grid-template-columns: 1fr;
        width: calc(100% + 3rem);
        margin: 0rem -1.5rem;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include breakpoint($xl-bp) {
          gap: 1.5rem;
        }

        &__head {
          height: 8.2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include breakpoint($xl-bp) {
            gap: 1rem;
          }

          @include breakpoint($sm-bp) {
            height: unset;
            padding: 0rem 1.5rem;
          }
        }

        &__title {
          text-align: center;

          @include breakpoint($sm-bp) {
            text-align: left;
          }
        }

        &__text {
          text-align: center;
          flex: 1;

          @include breakpoint($sm-bp) {
            text-align: left;
            font-size: 1.6rem;
            line-height: 1.9rem;
          }
        }

        &__inner {
          position: relative;
          height: 44rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          &:hover {
            .main-specialization-list-item__bg {
              left: 0;
              animation: specialization-bg-in 0.5s linear;
            }
          }

          @include breakpoint($sm-bp) {
            height: 37.5rem;
          }
        }

        &__img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }

        &__icon {
          position: absolute;
          top: 4rem;
          right: 4rem;
          width: 3.6rem;
          height: 3.6rem;
          fill: $white;
        }

        &__bg {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $blue;
          top: 0;
          left: 100%;
          animation: specialization-bg-out 0.5s linear;
        }

        &__link {
          position: absolute;
          display: flex;
          align-items: flex-end;
          gap: 3.5rem;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 2.9rem;
          letter-spacing: 0.03em;
          color: $white;

          svg {
            width: 3.6rem;
            height: 3.6rem;
            fill: $white;
          }
        }
      }
    }
  }

  &-docs {
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 18rem;

      @include breakpoint($xl-bp) {
        gap: 6rem;
      }
    }

    &-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &__info {
        max-width: 81rem;
      }

      &__title {
        margin-bottom: 8rem;

        @include breakpoint($xl-bp) {
          margin-bottom: 2rem;
        }
      }

      &__text {
        font-size: 1.8rem;
        line-height: 2.2rem;
        @include text;

        @include breakpoint($sm-bp) {
          font-size: 1.6rem;
          line-height: 1.9rem;
        }
      }

      &__list {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        flex-wrap: wrap;

        @include breakpoint($xl-bp) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint($sm-bp) {
          grid-template-columns: repeat(2, 1fr);
          gap: 1.6rem;
        }
      }

      &__img {
        height: 45rem;

        @include breakpoint($xl-bp) {
          height: unset;
          width: 100%;
        }

        &_border {
          border: 0.1rem solid $blue;
        }

        img {
          object-fit: contain;
          height: 100%;

          @include breakpoint($xl-bp) {
            object-fit: cover;
            object-position: center;
            width: 100%;
          }
        }
      }
    }
  }

  &-news {
    margin-bottom: 18rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8rem;

      @include breakpoint($xl-bp) {
        margin-bottom: 4rem;
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 3rem;

      &__btn {
        width: 4rem;
        height: 3rem;
        transition: 0.3s;

        &.swiper-button-disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        svg {
          width: 100%;
          height: 100%;
          fill: $blue;
        }
      }
    }

    &-list {
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // gap: 7.7rem;

      &-item {
        width: 100%;
        height: 55.1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__img {
          width: 100%;
          height: 38.1rem;
          margin-bottom: 2rem;

          img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
          }
        }

        &__date {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: 0.03em;
          color: $blue;
          margin-bottom: 2rem;
        }

        &__title {
          flex: 1;
          letter-spacing: 0.03em;
        }

        &__link {
          display: flex;
          align-items: flex-end;
          gap: 1.5rem;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.2rem;
          letter-spacing: 0.03em;

          svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: $blue;
          }
        }
      }
    }
  }

  &-info {
    margin-bottom: 18rem;
    background-color: $blue;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &-slider {
      padding: 8rem 0 9.7rem;

      @include breakpoint($sm-bp) {
        padding: 6rem 0rem 6rem;
      }

      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3.9rem;
        border-bottom: 0.1rem solid $white;
        margin-bottom: 4.2rem;

        @include breakpoint($sm-bp) {
          padding-bottom: 2.9rem;
          margin-bottom: 3.3rem;
        }
      }

      &__title {
        color: $white;
      }

      &__btns {
        display: flex;
        align-items: center;
        gap: 3rem;
      }

      &__btn {
        width: 4rem;
        height: 3rem;
        transition: 0.3s;

        &.swiper-button-disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        svg {
          width: 100%;
          height: 100%;
          fill: $white;
        }
      }
    }

    &-swiper {
      &-slide {
        &__title {
          color: $white;
          text-transform: uppercase;
          margin-bottom: 3rem;
        }

        &__text {
          font-size: 1.8rem;
          line-height: 2.6rem;
          color: $white;
          @include text;
        }
      }
    }

    &-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 8.3rem 0rem 8.6rem;

      @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 6rem 0;
      }

      &__title {
        color: $white;
        margin-bottom: 3rem;

        @include breakpoint($sm-bp) {
          margin-bottom: 2rem;
        }
      }

      &__text {
        max-width: 52.6rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: $white;

        @include breakpoint($sm-bp) {
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
      }

      &__inner {
        display: flex;
        flex-direction: column;
      }

      &__subtitle {
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 4.4rem;
        color: $white;
        margin-bottom: 4.6rem;

        @include breakpoint($sm-bp) {
          font-size: 2rem;
          line-height: 2.4rem;
          margin-bottom: 2rem;
        }
      }

      &__input {
        width: 49.3rem;
        padding: 1rem 1rem 0.9rem 2.2rem;
        border: none;
        border-bottom: 0.1rem solid $white;
        background-color: transparent;
        outline: none;
        color: $white;
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;

        &::placeholder {
          color: rgba(242, 242, 242, 1);
        }

        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }

      &__legal {
        max-width: 50.8rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: rgba(224, 224, 224, 1);
        @include text;
        margin-bottom: 3rem;

        a {
          text-decoration: underline;
        }

        @include breakpoint($sm-bp) {
          font-size: 1.2rem;
          line-height: 1.5rem;
          margin-bottom: 2.5rem;
        }
      }

      &__btn {
        width: 49.3rem;
        height: 6rem;
        border: 0.2rem solid $white;
        background-color: $white;
        color: $blue;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.03em;
        transition: 0.3s;

        &:hover {
          background-color: transparent;
          color: $white;
        }

        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }
    }
  }

  &-partners {
    margin-bottom: 16rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7.2rem;
      gap: 4rem;

      @include breakpoint($xl-bp) {
        flex-direction: column;
      }

      @include breakpoint($sm-bp) {
        gap: 2rem;
        margin-bottom: 2.5rem;
      }
    }

    &__text {
      max-width: 114.5rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 2.9rem;

      @include breakpoint($sm-bp) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }

    &-list {
      &__item {
        height: 12.5rem;

        img {
          object-fit: contain;
          object-position: center center;
          height: 100%;
          width: 100%;
        }

        @include breakpoint($sm-bp) {
          height: 9.3rem;
        }
      }
    }

    &-swiper {
      margin: 0rem 8.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include breakpoint($sm-bp) {
        margin: 0;
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      &__btn {
        width: 4rem;
        height: 3rem;
        transition: 0.3s;

        &.swiper-button-disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        svg {
          width: 100%;
          height: 100%;
          fill: $blue;
        }
      }
    }
  }
}

@keyframes specialization-bg-in {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes specialization-bg-out {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}
