<section class="contacts">
  <div class="container">
    <div class="contacts-container">

      <h1 class="contacts__title">
        КОНТАКТНАЯ ИНФОРМАЦИЯ
      </h1>

      <div class="contacts-inner">
        <div class="contacts-item">
          <h4 class="contacts-item__title">БАНКОВСКИЕ РЕКВИЗИТЫ</h4>

          <div class="contacts-item__content">
            <p>
              Наименование получателя:
            </p>
            <p>
              ЧПОУ «Пензенский гуманитарно-технический колледж»
            </p>
            <p>
              ИНН: 5834111130
            </p>
            <p>
              КПП: 583401001
            </p>
            <p>
              Расчетный счет: 40703810748000000068
            </p>
            <p>
              Банк: Пензенское ОСБ № 8624 г.Пензы
            </p>
            <p>
              БИК: 045655635
            </p>
            <p>
              Корр. счет: 30101810000000000635
            </p>
          </div>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Время работы:</h4>

          <div class="contacts-item__content">
            <p>
              пн.-пт. с 09:00 до 18:00
            </p>
            <p>
              сб. с 09.00 до 15.00
            </p>
            <p>
              Воскресенье — выходной
            </p>
          </div>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Адрес:</h4>

          <div class="contacts-item__content">
            <p>
              440061
            </p>
            <p>
              г. Пенза
            </p>
            <p>
              ул. Пролетарская, д. 3, корп. 4
            </p>
          </div>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Почта:</h4>

          <div class="contacts-item__content">
            <p>
              penza.kolledzh@mail.ru
            </p>
          </div>
        </div>

        <div class="contacts-item">
          <h4 class="contacts-item__title">Как нас найти:</h4>

          <div class="contacts-item__content">
            <p>
              От городского автовокзала перейти на противоположную сторону ул.Луначарского, пройти дворами до
              параллельной
              ул.Пролетарской. Между зданиями НИИЭМП и магазином «Конкурент» находится проходная Современной
              гуманитарной
              академии.
              В здании на первом этаже в вестибюле повернуть направо, кабинет 111.
            </p>
          </div>
        </div>
      </div>

      <div class="contacts-map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab552c705e4f402539085d1c525fef1dd2bc98e5ddb0c94d5d2bf1a033e1ee2ff&amp;source=constructor"
          width="100%" height="100%" frameborder="0"></iframe>
      </div>

    </div>
  </div>
</section>