<footer class="footer">
  <div class="container">
    <div class="footer-container">

      <a href="#" class="footer__logo">
        <svg>
          <use href="#logo-icon"></use>
        </svg>
      </a>

      <div class="footer__inner">
        <div class="footer-item footer-info">
          <a href="#" class="footer-info__item">
            Министерство науки и высшего образования
          </a>
          <a href="#" class="footer-info__item">
            Министерство просвещения
          </a>
          <a href="#" class="footer-info__item">
            Информация по противодействию коррупции
          </a>
          <a href="#" class="footer-info__item">
            Рособрнадзор
          </a>

          <div class="footer-legal">
            <p class="footer-legal__item">
              © 2016-2020 ЧПОУ Пензенский гуманитарно-технический колледж (ПГТК)
            </p>

            <a href="#" class="footer-legal__item">Политика конфиденциальности</a>
          </div>
        </div>

        <div class="footer-item footer-nav">
          <a href="#" class="footer-nav__item">О колледже</a>
          <a href="#" class="footer-nav__item">Специальности</a>
          <a href="#" class="footer-nav__item">Абитуриентам</a>
          <a href="#" class="footer-nav__item">Студентам</a>
          <a href="#" class="footer-nav__item">FAQ</a>
          <a href="#" class="footer-nav__item">Новости</a>
          <a href="#" class="footer-nav__item">Контакты</a>
        </div>

        <div class="footer-item footer-contacts">
          <a href="#" class="footer-contacts__item footer-contacts__link">+7(8412)49-10-41</a>
          <a href="#" class="footer-contacts__item footer-contacts__link">penza.kolledzh@mail.ru</a>
          <a href="#" class="footer-contacts__item footer-contacts__link">VK</a>
          <p class="footer-contacts__item">
            440061, Пензенская обл.,г. Пенза, ул. Пролетарская, д. 3, корп. 4
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>