<header class="header">
  <div class="container header-container">

    <a href="#" class="header-logo">
      <svg>
        <use href="#logo-icon"></use>
      </svg>
    </a>

    <div class="header__inner">
      <div class="header-top">
        <div class="header-top__item header-top__item_mob">
          <h3 class="header-top__text">Департамент образования и науки</h3>
        </div>
        <div class="header-top__item header-top__item_mob">
          <a href="#" class="header-top__text header-top__text_underlined">Лицензия:</a>
          <p class="header-top__text">Л035-01221-58/00353578</p>
        </div>
        <div class="header-top__item header-top__item_mob">
          <p class="header-top__text">Свидетельство об аккредитации:</p>
          <p class="header-top__text">58А01 № 0000587 РЕГ. № 6397 от 16.01.2017</p>
          <p class="header-top__text">Срок действия <a href="#"
              class="header-top__text header-top__text_underlined">бессрочная</a></p>
        </div>
        <div class="header-top__item header-top-tel">
          <p class="header-top__text">Приемная комиссия</p>
          <a href="tel:#" class="header-top-tel__link">
            <svg>
              <use href="#tel-icon"></use>
            </svg>
            +7(8412)49-10-41
          </a>
        </div>

        <button type="button" class="header-menu-btn">
          <svg>
            <use href="#menu-burger-icon"></use>
          </svg>
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
        </button>
      </div>

      <div class="header-nav">
        <a href="#" class="header-nav__link">
          Сведения об образовательной организации
        </a>
        <div class="header-nav-drop">
          <button type="button" class="header-nav-drop__btn header-nav__link">
            Специальности
            <svg>
              <use href="#arrow-down-icon"></use>
            </svg>
          </button>
          <div class="header-nav-drop__content">
            <div class="header-nav-drop__inner">
              <a href="#" class="header-nav__link">
                Экономика и бухгалтерский учет (по отраслям)
              </a>
              <a href="#" class="header-nav__link">
                Коммерция (по отраслям)
              </a>
              <a href="#" class="header-nav__link">
                Право и организация социального обеспечения
              </a>
              <a href="#" class="header-nav__link">
                Дошкольное образование
              </a>
            </div>
          </div>
        </div>
        <a href="#" class="header-nav__link">
          Абитуриентам
        </a>
        <a href="#" class="header-nav__link">
          Студентам
        </a>
        <a href="#" class="header-nav__link">
          FAQ
        </a>
        <a href="#" class="header-nav__link">
          Новости
        </a>
        <a href="#" class="header-nav__link">
          Контакты
        </a>
        <a href="#" class="header-nav__btn">
          Версия для слабовидящих
        </a>
      </div>
    </div>

  </div>

  <div class="header-menu">
    <div class="header-menu__inner">

    </div>
  </div>
</header>