<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav">
        <a href="#" class="info-nav__link">
          Основные сведения
        </a>
        <a href="#" class="info-nav__link">
          Структура и органы управления образовательной организацией
        </a>
        <a href="#" class="info-nav__link">
          Документы
        </a>
        <a href="#" class="info-nav__link">
          Образование
        </a>
        <a href="#" class="info-nav__link">
          Образовательные стандарты и требования
        </a>
        <a href="#" class="info-nav__link">
          Руководство. Педагогический(научно-педагогический состав)
        </a>
        <a href="#" class="info-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
        </a>
        <a href="#" class="info-nav__link">
          Стипендии и иные виды материальной поддержки
        </a>
        <a href="#" class="info-nav__link">
          Платные образовательные услуги
        </a>
        <a href="#" class="info-nav__link">
          Финансово-хозяйственная деятельность
        </a>
        <a href="#" class="info-nav__link">
          Вакантные места для приема (перевода) обучающихся
        </a>
        <a href="#" class="info-nav__link _active">
          Доступная среда
        </a>
        <a href="#" class="info-nav__link">
          Международное сотрудничество
        </a>
      </div>

      <div class="info-content">

        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О СПЕЦИАЛЬНЫХ УСЛОВИЯХ ДЛЯ ОБУЧЕНИЯ ЛИЦ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ
          </h3>

          <div class="info-item__inner">
            <strong>
              О специально оборудованных учебных кабинетах
            </strong>
            <p>
              В колледже создан специализированный учебный кабинет для занятий с лицами ОВЗ. Он оборудован современными
              техническими средствами (компьютер, телевизор, видеопроектор и д.т.), которые позволяют осуществлять
              мультимедийное представление учебного материала, увеличение шрифта изучаемых учебных и методических
              материалов для слабовидящих, дублирование его содержания посредством аудиосистемы. Для обучающихся с
              нарушением слуха имеется возможность с помощью акустической системы, с помощью персональных наушников
              усиление громкости звука. Для инвалидов с нарушениями опорно-двигательного аппарата предусмотрено
              специальные посадочные места. Все это обеспечивает комфортность освоения лицами с ОВЗ избранных ими
              образовательных программ.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              Об объектах для проведения практических занятий, приспособленных для использования инвалидами и лицами с
              ограниченными возможностями здоровья
            </strong>
            <p>
              Помещение для проведения практических занятий в колледже доступно для всех лиц с ограниченными
              возможностями здоровья.
            </p>
            <p>
              Согласно договору безвозмездного пользования от 01.08.2019 г., имеется помещение, которое адаптировано для
              лиц с ограниченными возможностями здоровья.
            </p>
            <p>
              ул. Пролетарская, д.3 - нежилые помещения, общей площадью 756,11 кв.м ( дополнительное соглашение № 3 от
              19.08.2021 г.)
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О библиотеке(ах), приспособленных для использования инвалидами и лицами с ограниченными возможностями
              здоровья
            </strong>
            <p>
              При получении образования обучающимся с ограниченными возможностями здоровья предоставляются бесплатно
              учебники и учебные пособия, иная учебная литература.
            </p>
            <p>
              С учетом особых потребностей, обучающихся с ограниченными возможностями здоровья, колледжем обеспечивается
              предоставление учебных, лекционных материалов в электронном виде.
            </p>
            <p>
              Библиотека является одним из ведущих структурных подразделений колледжа, обеспечивающая
              учебно-воспитательный процесс учебной, справочной литературой, периодическими изданиями и информационными
              материалами, а также центром распространения знаний, духовного и интеллектуального общения и культуры.
            </p>
            <p>
              Основная цель библиотеки - содействие учебному процессу всеми формами и методами
              библиотечно-библиографического обслуживания.
            </p>
            <p>
              Основными задачами деятельности библиотеки являются комплектование фонда учебной литературы,
              совершенствование форм индивидуальной и массовой работы, основанной на личностно-ориентированном подходе.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              Об объектах спорта приспособленных для использования инвалидами и лицами с ограниченными возможностями
              здоровья
            </strong>
            <p>
              В колледже оборудован лазерный тир и спортивный зал.
            </p>
            <p>
              Дополнительно для проведения физкультурно-оздоровительных мероприятий заключен договор
              от 02.05.2021г. на использование спортивного зала и полосы препятствия.
            </p>
            <p>
              Спортивные сооружения по адресу: <br>
              ул. Восточная, д.7 - спортивный зал – 297,1 кв.м. и
            </p>
            <p>
              Спортивный зал оборудован: гимнастическими стенками, баскетбольными щитами, турниками и спортивным
              инвентарем (футбольные, волейбольные, баскетбольные мячи, гантели, гимнастические снаряды, столы для
              настольного тенниса, шахматы, шашки, ракетки, мячики для настольного тенниса, сетки для настольного
              тенниса, сетки для волейбола), гимнастическими матами, волейбольными стойками, ковриками, скамейками,
              инвентарь для бадминтона (стойки, сетка, ракетки, воланы), утяжелители, инвентарь для метания, силовые
              тренажеры.
            </p>
            <p>
              Обучающиеся с особыми образовательными потребностями занимаются физической культурой со снижением
              физической нагрузки и в соответствии с рекомендациями врача.
            </p>
            <p>
              Все объекты спортивной и инфраструктуры колледжа адаптированы для обучающихся с особыми образовательными
              потребностями.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О средствах обучения и воспитания, приспособленных для использования инвалидами и лицами с ограниченными
              возможностями здоровья
            </strong>
            <p>
              Электронные образовательные ресурсы.
            </p>
            <p>
              В колледже организован свободный доступ к интернету, электронным образовательным ресурсам в специально
              оборудованном кабинете, приспособленным для лиц с ОВЗ.
            </p>
            <p>
              Помещения адаптированы для обучающихся с особыми образовательными потребностями:
            </p>
            <ul>
              <li>
                - имеются мультимедийные системы, бегущая строка.
              </li>
              <li>
                - в колледже ведется комплексное сопровождение образовательного процесса лиц с ограниченными
                возможностями здоровья,
              </li>
              <li>
                - помощь в организации самостоятельной работы (при заболеваниях),
              </li>
              <li>
                - организация индивидуальных консультаций,
              </li>
              <li>
                - содействие в прохождении промежуточной аттестации (зачетов, экзаменов, ликвидации академических
                задолженностей),
              </li>
              <li>
                - консультирование,
              </li>
              <li>
                - коррекция трудных ситуаций (для имеющих проблемы в обучении, общении и социальной адаптации),
              </li>
              <li>
                - помощь в решении бытовых проблем обучающихся.
              </li>
            </ul>
          </div>

          <div class="info-item__inner">
            <strong>
              Об обеспечении беспрепятственного доступа в здание образовательной организации
            </strong>
            <p>
              Для лиц с ограниченными возможностями здоровья в колледже организована доступная среда:
            </p>
            <ul>
              <li>
                - оборудована стоянка (парковка) личного автотранспорта, расположенная в шаговой доступности от входной
                группы,
              </li>
              <li>
                - установлен пандус,
              </li>
              <li>
                - кнопка-вызова сотрудника для сопровождения по колледжу,
              </li>
              <li>
                - оборудовано санитарно-гигиеническое помещение,
              </li>
              <li>
                - установлена бегущая строка,
              </li>
              <li>
                - нанесена контрастная маркировка и разметка на специально оборудованные помещения,
              </li>
              <li>
                - размещены носители информации, необходимой для беспрепятственного доступа лиц с ограниченными
                возможностями здоровья к объектам и услугам, с учетом ограничений их жизнедеятельности.
              </li>
              <li>
                - реализуется обучение по индивидуальным программам с использованием Интернет-ресурсов.
              </li>
            </ul>
          </div>

          <div class="info-item__inner">
            <strong>
              О специальных условиях питания
            </strong>
            <p>
              Для обучающихся и работников колледжа организовано питание, соответствующее нормам
              санитарно-эпидемиалогического надзора.
            </p>
            <p>
              Буфет оборудован с учетом архитектурной доступности для лиц с ОВЗ.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О специальных условиях охраны здоровья
            </strong>
            <p>
              В колледже оборудован медицинский кабинет. Ответственным за медико-оздоровительное сопровождение является
              врач государственного бюджетного учреждения здравоохранения
            </p>
            <p>
              «Городская поликлиника»", в соответствии с договором оказания медицинских услуг от 01.09.2021г.
            </p>
            <p>
              Все помещения оборудованы санитайзерами, средствами индивидуальной защиты.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленных для
              использования инвалидами и лицами с ограниченными возможностями здоровья
            </strong>
            <p>
              В колледже организован доступ к интернету в специально оборудованном кабинете для обучающихся с особыми
              образовательными потребностями.
            </p>
            <p>
              Работает локальная сеть, установлены точки Wi-Fi.
            </p>
            <p>
              Технология подключения к сети – оптоволоконная (FTTB), скорость передачи данных до 20 Мбит/с, кабельная
              сеть до 100Мбит/с.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              Об электронных образовательных ресурсах, к которым обеспечивается доступ инвалидов и лиц с ограниченными
              возможностями здоровья
            </strong>
            <p>
              В колледже организован доступ к интернету в специально оборудованном кабинете для свободного доступа к
              электронным образовательным ресурсам:
            </p>
            <ul>
              <li>
                - электронный информационно-образовательный сайт "Личная студия",
              </li>
              <li>
                - открытая автоматизированная система "Оазис",
              </li>
              <li>
                - ресурсы электронно-библиотечной системы IPRbooks,
              </li>
              <li>
                - электронные образовательные ресурсы информационно-коммуникационной сети Интернет,
              </li>
              <li>
                - программные и учебно-методические материалы,
              </li>
              <li>
                - электронные учебники,
              </li>
              <li>
                -вводные и модульные лекции, выполненные в виде теле-лекций (электронных лекций), слайд-лекций и
                аудио-лекций,
              </li>
              <li>
                - информационные и методические материалы по коллективным тренингам,
              </li>
              <li>
                - обучающие компьютерные программы,
              </li>
              <li>
                - профессиональные лабораторные работы,
              </li>
              <li>
                - тестовые базы для оперативного тестирования и тренинга,
              </li>
              <li>
                - базы вопросов промежуточной аттестации,
              </li>
              <li>
                - информационная система «Ровеб-дидактика» - это технология дистанционного обучения в колледже, которая
                расширяет возможности обучающихся рационально использовать свое время. Информационные технологии
                включают следующие программные роботизированные системы: Ровеб-онлайн, Ровеб-офлайн, ИР «КАСКАД», ПК
                КОП, ПО «ЛиК», использующие дата-центры ИИС «Луч», которые обеспечивают образовательный процесс,
                поддерживают учебные занятия различного вида и аттестации различного уровня и обслуживает сайт колледжа.
              </li>
            </ul>
          </div>

          <div class="info-item__inner">
            <strong>
              О наличии специальных технических средств обучения коллективного и индивидуального пользования
            </strong>
            <p>
              Материально-техническое обеспечение инклюзивного образования реализовано через специализированное
              оборудование и комплексные технические решения для формирования физической доступности колледжа и
              доступности образовательного процесса.
            </p>
            <p>
              Созданные условия обеспечивают получение качественного и востребованного профессионального образования
              лицами с ограниченными возможностями здоровья, способствуют коррекции нарушений развития и социальной
              адаптации, оказанию коррекционной помощи на основе специальных педагогических подходов и наиболее
              подходящих методов и условий, посредством организации инклюзивного образования лиц с ограниченными
              возможностями к обучению.
            </p>
            <p>
              В рамках программы «Доступная среда» колледж оснащен учебным, компьютерным оборудованием для организации
              коррекционной работы и обучения инвалидов по слуху, зрению и с нарушениями опорно-двигательного аппарата.
            </p>
            <p>
              Для обучающихся с различной степенью потери слуха в колледже организована максимально адаптивная
              образовательная среда: индукционная петля, аудиокласс, информационное табло «бегущая строка».
            </p>
            <p>
              Для обучающихся с нарушенной функцией зрения, нарушениями опорно-двигательного аппарата представлены
              адаптированные электро-механические устройства ввода для ПК, увеличительные устройства, аудиопособия,
              адаптированная мебель.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О наличии условий для беспрепятственного доступа в общежитие, интернат
            </strong>
            <p>
              Общежития в колледже нет.
            </p>
          </div>

          <div class="info-item__inner">
            <strong>
              О количестве жилых помещений в общежитии, интернате, приспособленных для использования инвалидами и лицами
              с ограниченными возможностями здоровья
            </strong>
            <p>
              Общежития в колледже нет.
            </p>
          </div>

          <div class="info-item__inner">
            <h3>
              НОРМАТИВНЫЕ ДОКУМЕНТЫ
            </h3>
            <a href="#">
              Приказ № 3 от 01.04.2016 «О создании безбарьерной среды для обеспечения равного доступа к обучению»
            </a>
            <a href="#">
              Приказ № 12/4 от 03.07.2017 «О назначении ответственных лиц»
            </a>
            <a href="#">
              Приказ № 18/2 от 18.09.2017 «О создании объектовой комиссии по выполнению комплекса мероприятий по
              обеспечению условий доступности для лиц с ограниченными возможностями здоровья объектов и предоставляемых
              услуг в сфере образования»
            </a>
            <a href="#">
              Положение об объектовой комиссии по выполнению комплекса мероприятий по обеспечению условий доступности
              для лиц с ограниченными возможностями здоровья объектов и предоставляемых услуг в ЧПОУ ПГТК
            </a>
            <a href="#">
              Приказ № 2/1 от 18.01.2021 «О проведении комплекса мероприятий по обеспечению условий доступности объектов
              и предоставляемых услуг в сфере образования для лиц с ограниченными возможностями здоровья на территории
              ЧПОУ ПГТК»
            </a>
            <a href="#">
              Приказ № 2/2 от 18.01.2021 «О совершенствовании работы по организации обучения лиц с ограниченными
              возможностями здоровья»
            </a>
            <a href="#">
              Приказ № 3/1 от 25.01.2021 «Об обеспечении доступа на объект собаки-проводника»
            </a>
            <a href="#">
              Порядок допуска собаки - проводника в ЧПОУ ПГТК
            </a>
            <a href="#">
              Инструкция для проведения обучения специалистов, работающих с инвалидами, в ЧПОУ «Пензенский
              гуманитарно-технический колледж»Положение о порядке проведения самообследования
            </a>
          </div>
        </div>

        <div class="info-images-wrapper">
          <div class="swiper info-images">

            <div class="info-images-btns">
              <button type="button" class="info-images-btns__btn info-images-btns__btn_prev">
                <svg>
                  <use href="#arrow-left-icon"></use>
                </svg>
              </button>
              <button type="button" class="info-images-btns__btn info-images-btns__btn_next">
                <svg>
                  <use href="#arrow-right-icon"></use>
                </svg>
              </button>
            </div>

            <div class="swiper-wrapper info-images-container">
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Парковочное место оборудованное для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-1.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-2.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-2.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Парковочное место оборудованное для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-1.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-2.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-2.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Парковочное место оборудованное для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-1.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide info-images-item">
                <p class="info-images-item__text">
                  Входная группа оборудованная для лиц с ограниченными возможностями здоровья.
                </p>
                <a href="./assets/images/info-images-2.jpg" class="info-images-item__img" data-fancybox>
                  <img src="./assets/images/info-images-2.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>