<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav-wrapper">
        <button type="button" class="info-nav-btn">
          <span class="info-nav-btn__text"></span>
          <svg>
            <use href="#arrow-down-icon"></use>
          </svg>
        </button>
        <div class="info-nav">
          <a href="#" class="info-nav__link">
            Основные сведения
          </a>
          <a href="#" class="info-nav__link">
            Структура и органы управления образовательной организацией
          </a>
          <a href="#" class="info-nav__link">
            Документы
          </a>
          <a href="#" class="info-nav__link">
            Образование
          </a>
          <a href="#" class="info-nav__link">
            Образовательные стандарты и требования
          </a>
          <a href="#" class="info-nav__link">
            Руководство. Педагогический(научно-педагогический состав)
          </a>
          <a href="#" class="info-nav__link">
            Материально-техническое обеспечение и оснащенность образовательного процесса
          </a>
          <a href="#" class="info-nav__link">
            Стипендии и иные виды материальной поддержки
          </a>
          <a href="#" class="info-nav__link _active">
            Платные образовательные услуги
          </a>
          <a href="#" class="info-nav__link">
            Финансово-хозяйственная деятельность
          </a>
          <a href="#" class="info-nav__link">
            Вакантные места для приема (перевода) обучающихся
          </a>
          <a href="#" class="info-nav__link">
            Доступная среда
          </a>
          <a href="#" class="info-nav__link">
            Международное сотрудничество
          </a>
        </div>
      </div>

      <div class="info-content">

        <div class="info-item">
          <div class="info-item__inner">
            <a href="#" style="color: rgba(50, 139, 194, 1)">
              Договор на обучение по образовательной программе среднего профессионального образования
            </a>
            <a href="#" style="color: rgba(50, 139, 194, 1)">
              Положение о порядке оказания платных услуг ЧПОУ ПГТК
            </a>
            <a href="#" style="color: rgba(50, 139, 194, 1)">
              Приказ №9 от 28.03.2023 г. "О стоимости обучения 1 курса в ЧПОУ ПГТК на 2023/2024 учебный год"
            </a>
            <a href="#" style="color: rgba(50, 139, 194, 1)">
              Приказ №9/1 от 28.03.2023 г. "О стоимости обучения в ЧПОУ ПГТК на 2023/2024 учебный год по программам
              СПО"
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>