<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav">
        <a href="#" class="info-nav__link">
          Основные сведения
        </a>
        <a href="#" class="info-nav__link">
          Структура и органы управления образовательной организацией
        </a>
        <a href="#" class="info-nav__link">
          Документы
        </a>
        <a href="#" class="info-nav__link _active">
          Образование
        </a>
        <a href="#" class="info-nav__link">
          Образовательные стандарты и требования
        </a>
        <a href="#" class="info-nav__link">
          Руководство. Педагогический(научно-педагогический состав)
        </a>
        <a href="#" class="info-nav__link">
          Материально-техническое обеспечение и оснащенность образовательного процесса
        </a>
        <a href="#" class="info-nav__link">
          Стипендии и иные виды материальной поддержки
        </a>
        <a href="#" class="info-nav__link">
          Платные образовательные услуги
        </a>
        <a href="#" class="info-nav__link">
          Финансово-хозяйственная деятельность
        </a>
        <a href="#" class="info-nav__link">
          Вакантные места для приема (перевода) обучающихся
        </a>
        <a href="#" class="info-nav__link">
          Доступная среда
        </a>
        <a href="#" class="info-nav__link">
          Международное сотрудничество
        </a>
      </div>

      <div class="info-content">

        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ ОБ ИСПОЛЬЗОВАНИИ ПРИ РЕАЛИЗАЦИИ ОБРАЗОВАТЕЛЬНЫХ ПРОГРАММ ЭЛЕКТРОННОГО ОБУЧЕНИЯ И ДИСТАНЦИОННЫХ
            ОБРАЗОВАТЕЛЬНЫХ ТЕХНОЛОГИЙ.
          </h3>
          <div class="info-item__inner">
            <p>
              В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
              Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
              утверждении Порядка применения организациями, осуществляющими образовательную деятельность, электронного
              обучения, дистанционных образовательных технологий при реализации образовательных программ» при реализации
              образовательных программ подготовки специалистов среднего звена в соответствии с рабочими программами по
              дисциплинам в ЧПОУ ПГТК используются элементы электронного обучения и дистанционных образовательных
              технологий.
            </p>
            <p>
              Под электронным обучением понимается организация образовательной деятельности с применением содержащейся в
              базах данных и используемой при реализации образовательных программ информации и обеспечивающих ее
              обработку информационных технологий, технических средств, а также информационно-телекоммуникационных
              сетей, обеспечивающих передачу по линиям связи указанной информации, взаимодействие обучающихся и
              педагогических работников.
            </p>
            <p>
              Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
              основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
              взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
              применением электронного обучения, дистанционных образовательных технологий ЧПОУ ПГТК, обеспечивает защиту
              сведений, составляющих ту или иную охраняемую законом тайну.
            </p>
            <p>
              Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
              беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
              интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
              образовательных программ, непосредственно по месту жительства обучающегося или его временного пребывания
              (нахождения).
            </p>
            <p>
              В обучении с применением дистанционных образовательных технологий используются следующие организационные
              формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная работа, контрольная
              работа, самостоятельная работа, Самостоятельная работа обучающихся может включать следующие
              организационные формы (элементы) электронного и дистанционного обучения: работа с электронным учебником;
              просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
            </p>
            <p>
              В период длительной болезни или отсутствия в колледже по уважительной причине обучающийся имеет
              возможность получать консультации преподавателя по соответствующей дисциплине через электронные системы,
              используя для этого канал выхода в Интернет.
            </p>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О ЧИСЛЕННОСТИ ОБУЧАЮЩИХСЯ ПО ДОГОВОРАМ ОБ ОБРАЗОВАНИИ ЗА СЧЕТ СРЕДСТВ ФИЗИЧЕСКИХ И (ИЛИ)
            ЮРИДИЧЕСКИХ ЛИЦ НА 1 ОКТЯБРЯ 2022Г.
          </h3>

          <div class="info-table info-table_2">
            <div class="info-table__container">
              <div class="info-table-item info-table-head">
                <div class="info-table-item__text">
                  Код специальности
                </div>
                <div class="info-table-item__text">
                  Наименование специальности
                </div>
                <div class="info-table-item__text">
                  Численность обучающихся по заочной форме на базе 11 классов
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  38.02.01
                </div>
                <div class="info-table-item__text">
                  Экономика и бухгалтерский учет (по отраслям)
                </div>
                <div class="info-table-item__text">
                  82
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  38.02.04
                </div>
                <div class="info-table-item__text">
                  Коммерция (по отраслям)
                </div>
                <div class="info-table-item__text">
                  88
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  40.02.01
                </div>
                <div class="info-table-item__text">
                  Право и организация социального обеспечения
                </div>
                <div class="info-table-item__text">
                  488
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  44.02.01
                </div>
                <div class="info-table-item__text">
                  Дошкольное образование
                </div>
                <div class="info-table-item__text">
                  143
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <h3>
            РЕЗУЛЬТАТЫ ПЕРЕВОДА, ВОССТАНОВЛЕНИЯ, ОТЧИСЛЕНИЯ ОБУЧАЮЩИХСЯ
            С 30 СЕНТЯБРЯ 2021 ПО 01 ОКТЯБРЯ 2022Г.
          </h3>

          <div class="info-table info-table_3">
            <div class="info-table__container">
              <div class="info-table-item info-table-head">
                <div class="info-table-item__text">
                  Движение обучающихся
                </div>
                <div class="info-table-item__text">
                  Заочная форма обучения на базе 11 классов
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  Прибыло студентов - всего
                </div>
                <div class="info-table-item__text">
                  9
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  в том числе:переведено из других образовательных организаций
                </div>
                <div class="info-table-item__text">
                  5
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  восстановлены из числа ранее отчисленных
                </div>
                <div class="info-table-item__text">
                  4
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  Выбыло студентов - всего
                </div>
                <div class="info-table-item__text">
                  73
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  в том числе:добровольно прекратили образовательные отношения
                </div>
                <div class="info-table-item__text">
                  14
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  отчислено:по неуспеваемости
                </div>
                <div class="info-table-item__text">
                  58
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  в том числе не прошли итоговую аттестацию
                </div>
                <div class="info-table-item__text">
                  2
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  выбыло по другим причинам
                </div>
                <div class="info-table-item__text">
                  1
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  Численность студентов на начало прошлого учебного года (на 1 октября)
                </div>
                <div class="info-table-item__text">
                  870
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕЗУЛЬТАТАХ ПРИЕМА ПО ДОГОВОРАМ ОБ ОКАЗАНИИ ПЛАТНЫХ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ ПО СПЕЦИАЛЬНОСТЯМ
            СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ ДЛЯ ОБУЧЕНИЯ ПО ИМЕЮЩИМ ГОСУДАРСТВЕННУЮ АККРЕДИТАЦИЮ ОБРАЗОВАТЕЛЬНЫМ
            ПРОГРАММАМ ПОДГОТОВКИ СПЕЦИАЛИСТОВ СРЕДНЕГО ЗВЕНА 2022/2023 УЧЕБНЫЙ ГОД
            НА 30 НОЯБРЯ 2022Г.
          </h3>

          <div class="info-table info-table_4">
            <div class="info-table__container">
              <div class="info-table-item info-table-head">
                <div class="info-table-item__text">
                  Код специальности
                </div>
                <div class="info-table-item__text">
                  Наименование специальности
                </div>
                <div class="info-table-item__text">
                  Принято по договорам об оказании платных образовательных услуг на заочную форму на базе 11 классов
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  38.02.01
                </div>
                <div class="info-table-item__text">
                  Экономика и бухгалтерский учет (по отраслям)
                </div>
                <div class="info-table-item__text">
                  21
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  38.02.04
                </div>
                <div class="info-table-item__text">
                  Коммерция (по отраслям)
                </div>
                <div class="info-table-item__text">
                  42
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  40.02.01
                </div>
                <div class="info-table-item__text">
                  Право и организация социального обеспечения
                </div>
                <div class="info-table-item__text">
                  127
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  44.02.01
                </div>
                <div class="info-table-item__text">
                  Дошкольное образование
                </div>
                <div class="info-table-item__text">
                  13
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕАЛИЗУЕМЫХ УРОВНЯХ ОБРАЗОВАНИЯ, О ФОРМАХ ОБУЧЕНИЯ, НОРМАТИВНЫХ СРОКАХ ОБУЧЕНИЯ, СРОКЕ ДЕЙСТВИЯ
            ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ.
          </h3>

          <div class="info-table info-table_5">
            <div class="info-table__container">
              <div class="info-table-item info-table-head">
                <div class="info-table-item__text">
                  Код и наименование специальности
                </div>
                <div class="info-table-item__text">
                  Уровень образования
                </div>
                <div class="info-table-item__text">
                  Срок действия государственной аккредитации
                </div>
                <div class="info-table-item__text">
                  Язык, на котором осуществляется обучение
                </div>
                <div class="info-table-item__text">
                  Форма обучения
                </div>
                <div class="info-table-item__text">
                  Нормативный срок обучения по заочной форме
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  <p>
                    38.02.01
                  </p>
                  <p>
                    Экономика и бухгалтерский учет (по отраслям)
                  </p>
                </div>
                <div class="info-table-item__text">
                  среднее профессиональное
                </div>
                <div class="info-table-item__text">
                  бессрочно
                </div>
                <div class="info-table-item__text">
                  русский
                </div>
                <div class="info-table-item__text">
                  заочная
                </div>
                <div class="info-table-item__text">
                  2 года 10 месяцев
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  <p>
                    38.02.01
                  </p>
                  <p>
                    Коммерция (по отраслям)
                  </p>
                </div>
                <div class="info-table-item__text">
                  среднее профессиональное
                </div>
                <div class="info-table-item__text">
                  бессрочно
                </div>
                <div class="info-table-item__text">
                  русский
                </div>
                <div class="info-table-item__text">
                  заочная
                </div>
                <div class="info-table-item__text">
                  2 года 10 месяцев
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  <p>
                    40.02.01
                  </p>
                  <p>
                    Право и организация социального обеспечения
                  </p>
                </div>
                <div class="info-table-item__text">
                  среднее профессиональное
                </div>
                <div class="info-table-item__text">
                  бессрочно
                </div>
                <div class="info-table-item__text">
                  русский
                </div>
                <div class="info-table-item__text">
                  заочная
                </div>
                <div class="info-table-item__text">
                  2 года 10 месяцев
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  <p>
                    38.02.01
                  </p>
                  <p>
                    Дошкольное образование
                  </p>
                </div>
                <div class="info-table-item__text">
                  среднее профессиональное
                </div>
                <div class="info-table-item__text">
                  бессрочно
                </div>
                <div class="info-table-item__text">
                  русский
                </div>
                <div class="info-table-item__text">
                  заочная
                </div>
                <div class="info-table-item__text">
                  2 года 10 месяцев
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕАЛИЗУЕМЫХ УРОВНЯХ ОБРАЗОВАНИЯ, О ФОРМАХ ОБУЧЕНИЯ, НОРМАТИВНЫХ СРОКАХ ОБУЧЕНИЯ, СРОКЕ ДЕЙСТВИЯ
            ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ.
          </h3>

          <div class="info-table info-table_6">
            <div class="info-table__container">
              <div class="info-table-item info-table-head">
                <div class="info-table-item__text">
                  №
                </div>
                <div class="info-table-item__text">
                  Образовательная программа- описание образовательной программы с приложением ее копии, включая
                  аннотации к рабочим программам дисциплин; рабочие программы дисциплин
                </div>
                <div class="info-table-item__text">
                  Учебный план и календарный учебный график с приложением копий
                </div>
                <div class="info-table-item__text">
                  Практики рабочие программы практики
                </div>
                <div class="info-table-item__text">
                  Методические и иные документы
                </div>
                <div class="info-table-item__text">
                  Использование при реализации образовательных программ электронного обучения и дистанционных
                  образовательных технологий
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  1
                </div>
                <div class="info-table-item__text">
                  <p>
                    44.02.01- Дошкольное образование
                  </p> -Пояснительная записка к учебному плану
                  <p>
                    -Рабочие программы дисциплин и профессиональных модулей
                  </p>
                  <p>
                    -Рабочая программа воспитания
                  </p>
                  <p>
                    -Программа государственной итоговой аттестации
                  </p>
                </div>
                <div class="info-table-item__text">
                  <p>2019 заочная форма обучения</p>
                  <p>2020 заочная форма обучения</p>
                  <p>2021 заочная форма обучения</p>
                  <p>2022 заочная форма обучения</p>
                </div>
                <div class="info-table-item__text">
                  Программы практики
                </div>
                <div class="info-table-item__text">
                  Методические пособия и указания по изучению дисциплин
                </div>
                <div class="info-table-item__text">
                  Используются
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  2
                </div>
                <div class="info-table-item__text">
                  <p>
                    40.02.01- Право и организация социального обеспечения
                  </p>
                  <p>
                    -Пояснительная записка к учебному плану
                  </p>
                  <p>
                    -Рабочие программы дисциплин и профессиональных модулей
                  </p>
                  <p>
                    -Рабочая программа воспитания
                  </p>
                  <p>
                    -Программа государственной итоговой аттестации
                  </p>
                </div>
                <div class="info-table-item__text">
                  <p>2020 заочная форма обучения</p>
                  <p>2021 заочная форма обучения</p>
                  <p>2022 заочная форма обучения</p>
                </div>
                <div class="info-table-item__text">
                  Программы практики
                </div>
                <div class="info-table-item__text">
                  Методические пособия и указания по изучению дисциплин
                </div>
                <div class="info-table-item__text">
                  Используются
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  3
                </div>
                <div class="info-table-item__text">
                  <p>
                    38.02.01- Экономика и бухгалтерский учет (по отраслям)
                  </p>
                  <p>
                    -Пояснительная записка к учебному плану
                  </p>
                  <p>
                    -Рабочие программы дисциплин и профессиональных модулей
                  </p>
                  <p>
                    -Рабочая программа воспитания
                  </p>
                  <p>
                    -Программа государственной итоговой аттестации
                  </p>
                </div>
                <div class="info-table-item__text">
                  <p>2020 заочная форма обучения</p>
                  <p>2021 заочная форма обучения</p>
                  <p>2022 заочная форма обучения</p>
                </div>
                <div class="info-table-item__text">
                  Программы практики
                </div>
                <div class="info-table-item__text">
                  Методические пособия и указания по изучению дисциплин
                </div>
                <div class="info-table-item__text">
                  Используются
                </div>
              </div>
              <div class="info-table-item">
                <div class="info-table-item__text">
                  4
                </div>
                <div class="info-table-item__text">
                  <p>
                    38.02.04- Коммерция (по отраслям)
                  </p>
                  <p>
                    -Пояснительная записка к учебному плану
                  </p>
                  <p>
                    -Рабочие программы дисциплин и профессиональных модулей
                  </p>
                  <p>
                    -Рабочая программа воспитания
                  </p>
                  <p>
                    -Программа государственной итоговой аттестации
                  </p>
                </div>
                <div class="info-table-item__text">
                  <p>2020 заочная форма обучения</p>
                  <p>2021 заочная форма обучения</p>
                  <p>2022 заочная форма обучения</p>
                </div>
                <div class="info-table-item__text">
                  Программы практики
                </div>
                <div class="info-table-item__text">
                  Методические пособия и указания по изучению дисциплин
                </div>
                <div class="info-table-item__text">
                  Используются
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-link">
          <h3 class="info-link__title">
            МЕТОДИЧЕСКИЕ И ИНЫЕ ДОКУМЕНТЫ, РАЗРАБОТАННЫЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИЕЙ ДЛЯ ОБЕСПЕЧЕНИЯ ОБРАЗОВАТЕЛЬНОГО
            ПРОЦЕССА
          </h3>

          <a href="#" class="info-link__btn">ОТКРЫТЬ</a>
        </div>
        <div class="info-item">
          <h3>
            РЕЗУЛЬТАТЫ ПРИЕМА НА 2022-2023 УЧЕБНЫЙ ГОД
          </h3>

          <div class="info-item__inner">
            <h6>
              <a href="#">
                Приказ №21/С от 29.08.2022
              </a>
            </h6>
            <h6>
              <a href="#">
                Приказ №36/С от 29.11.2022
              </a>
            </h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>