<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav">
        <a href="#" class="info-nav__link">
          Основные сведения
        </a>
        <a href="#" class="info-nav__link">
          Структура и органы управления образовательной организацией
        </a>
        <a href="#" class="info-nav__link">
          Документы
        </a>
        <a href="#" class="info-nav__link">
          Образование
        </a>
        <a href="#" class="info-nav__link">
          Образовательные стандарты и требования
        </a>
        <a href="#" class="info-nav__link">
          Руководство. Педагогический(научно-педагогический состав)
        </a>
        <a href="#" class="info-nav__link _active">
          Материально-техническое обеспечение и оснащенность образовательного процесса
        </a>
        <a href="#" class="info-nav__link">
          Стипендии и иные виды материальной поддержки
        </a>
        <a href="#" class="info-nav__link">
          Платные образовательные услуги
        </a>
        <a href="#" class="info-nav__link">
          Финансово-хозяйственная деятельность
        </a>
        <a href="#" class="info-nav__link">
          Вакантные места для приема (перевода) обучающихся
        </a>
        <a href="#" class="info-nav__link">
          Доступная среда
        </a>
        <a href="#" class="info-nav__link">
          Международное сотрудничество
        </a>
      </div>

      <div class="info-content">

        <div class="info-item">
          <div class="info-item__inner">
            <a href="#">
              Обеспечение образовательной деятельности оснащенными зданиями, строениями, сооружениями, помещениями и
              территориями.
            </a>
            <a href="#">
              Обеспечение образовательной деятельности помещениями для медицинского обслуживания и питания.
            </a>
          </div>
        </div>

        <div class="info-item">
          <p>
            Обеспечение образовательного процесса оборудованными учебными кабинетами, объектами для проведения
            практических занятий, объектами физической культуры и спорта по заявленным к лицензированию образовательным
            программам:
          </p>
          <div class="info-item__inner">
            <a href="#">38.02.01 Экономика и бухгалтерский учет (по отраслям) </a>
            <a href="#">38.02.04 Коммерция (по отраслям)</a>
            <a href="#">40.02.01 Право и организация социального обеспечения</a>
            <a href="#">44.02.01 Дошкольное образование</a>
          </div>
        </div>

        <div class="info-item">
          <h3>Сведения о библиотеках</h3>

          <div class="info-item__inner">
            <p>
              ЧПОУ ПГТК предоставляет обучающимся доступ к электронной библиотеке, сформированной благодаря заключенным
              договорам с издательствами. В настоящее время имеется доступ к 1 электронной библиотеке для студентов СПО.
            </p>

            <a href="#">
              Договор на оказание услуг по предоставлению доступа к цифровому образовательному ресурсу "IPRsmart" (ЭБС)
              №9129/22П от 29.0З.2022г.
            </a>
          </div>
        </div>

        <div class="info-item">
          <h3>Сведения об условиях питания обучающихся</h3>

          <div class="info-item__inner">
            <p>
              В ЧПОУ ПГТК организовано питание сотрудников и обучающихся за счет их собственных денежных средств и/или
              денежных средств родителей (законных представителей) в соответствии с договором об оказании услуг питания.
            </p>

            <a href="#">
              Договор оказания услуг общественного питания
            </a>
          </div>
        </div>

        <div class="info-item">
          <h3>Cведения об условиях охраны здоровья</h3>

          <div class="info-item__inner">
            <p>
              В ЧПОУ ПГТК функционирует медицинский кабинет, созданный для оказания доврачебной помощи студентам и
              работникам колледжа.
            </p>

            <a href="#">
              Заключен договор на оказание услуг с ГБУЗ «Городская поликлиника».
            </a>
          </div>
        </div>

        <div class="info-item">
          <h3>Cведения о доступе к информационным системам и информационно-телекоммуникационным сетям</h3>

          <div class="info-item__inner">
            <p>
              В учебных аудиториях ЧПОУ ПГТК обеспечивается доступ в Интернет с скоростью соединения до 20 Мбит/с. Во
              всех учебных аудиториях возможен доступ к справочно-правовой системе «КонсультантПлюс» и электронному
              информационному ресурсу Личная студия обучающегося.Лицензионный договор №316-ЛД/06-20/БИОР-ПГТК от
              01.07.2020г.
            </p>

            <p>
              Договор об оказании Услуг связи №30708012559 от 01.08.2019
            </p>

            <a href="#">
              Договор об информационной поддержке от 04.04.2016 КонсультантПлюс
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>