<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav-wrapper">
        <button type="button" class="info-nav-btn">
          <span class="info-nav-btn__text"></span>
          <svg>
            <use href="#arrow-down-icon"></use>
          </svg>
        </button>
        <div class="info-nav">
          <a href="#" class="info-nav__link">
            Основные сведения
          </a>
          <a href="#" class="info-nav__link">
            Структура и органы управления образовательной организацией
          </a>
          <a href="#" class="info-nav__link">
            Документы
          </a>
          <a href="#" class="info-nav__link">
            Образование
          </a>
          <a href="#" class="info-nav__link">
            Образовательные стандарты и требования
          </a>
          <a href="#" class="info-nav__link">
            Руководство. Педагогический(научно-педагогический состав)
          </a>
          <a href="#" class="info-nav__link">
            Материально-техническое обеспечение и оснащенность образовательного процесса
          </a>
          <a href="#" class="info-nav__link">
            Стипендии и иные виды материальной поддержки
          </a>
          <a href="#" class="info-nav__link">
            Платные образовательные услуги
          </a>
          <a href="#" class="info-nav__link _active">
            Финансово-хозяйственная деятельность
          </a>
          <a href="#" class="info-nav__link">
            Вакантные места для приема (перевода) обучающихся
          </a>
          <a href="#" class="info-nav__link">
            Доступная среда
          </a>
          <a href="#" class="info-nav__link">
            Международное сотрудничество
          </a>
        </div>
      </div>

      <div class="info-content">

        <div class="info-item">
          <h3>
            Объем образовательной деятельности в 2021 году, финансовое обеспечение которой осуществлялся
          </h3>

          <div class="info-table">
            <table class="info-table__inner" style="--width: 87rem">
              <thead>
                <tr>
                  <th>
                    за счет бюджетных ассигнований федерального бюджета
                    (тыс.руб.)
                  </th>
                  <th>
                    за счет бюджетов субъектов Российской Федерации
                    (тыс.руб.)
                  </th>
                  <th>
                    за счет местных бюджетов
                    (тыс.руб.)
                  </th>
                  <th>
                    по договорам об образовании за счет средств физических и (или) юридических лиц
                    (тыс.руб.)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>11438,0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="info-item">
          <h3>
            ПЛАН ФИНАНСОВО-ХОЗЯЙСТВЕННОЙ ДЕЯТЕЛЬНОСТИ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ, УТВЕРЖДЕННЫЙ В УСТАНОВЛЕННОМ
            ЗАКОНОДАТЕЛЬСТВОМ РОССИЙСКОЙ ФЕДЕРАЦИИ ПОРЯДКЕ, ИЛИ БЮДЖЕТНЫЕ СМЕТЫ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ
          </h3>

          <div class="info-item__inner">
            <a href="#">
              План финансово-хозяйственной деятельности на 2020 год
            </a>
            <a href="#">
              План финансово-хозяйственной деятельности на 2021 год
            </a>
            <a href="#">
              План финансово-хозяйственной деятельности на 2022 год
            </a>
          </div>

          <div class="info-item__inner">
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2016 г.
            </a>
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2017 г.
            </a>
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2018 г.
            </a>
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2019 г.
            </a>
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2020 г.
            </a>
            <a href="#">
              Отчет о поступлении финансовых и материальных средств и об их расходовании по итогам 2021 г.
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>