<section class="info">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        Сведения об образовательной организации
      </h1>
    </div>

    <div class="info-container">
      <div class="info-nav-wrapper">
        <button type="button" class="info-nav-btn">
          <span class="info-nav-btn__text"></span>
          <svg>
            <use href="#arrow-down-icon"></use>
          </svg>
        </button>
        <div class="info-nav">
          <a href="#" class="info-nav__link">
            Основные сведения
          </a>
          <a href="#" class="info-nav__link">
            Структура и органы управления образовательной организацией
          </a>
          <a href="#" class="info-nav__link">
            Документы
          </a>
          <a href="#" class="info-nav__link _active">
            Образование
          </a>
          <a href="#" class="info-nav__link">
            Образовательные стандарты и требования
          </a>
          <a href="#" class="info-nav__link">
            Руководство. Педагогический(научно-педагогический состав)
          </a>
          <a href="#" class="info-nav__link">
            Материально-техническое обеспечение и оснащенность образовательного процесса
          </a>
          <a href="#" class="info-nav__link">
            Стипендии и иные виды материальной поддержки
          </a>
          <a href="#" class="info-nav__link">
            Платные образовательные услуги
          </a>
          <a href="#" class="info-nav__link">
            Финансово-хозяйственная деятельность
          </a>
          <a href="#" class="info-nav__link">
            Вакантные места для приема (перевода) обучающихся
          </a>
          <a href="#" class="info-nav__link">
            Доступная среда
          </a>
          <a href="#" class="info-nav__link">
            Международное сотрудничество
          </a>
        </div>
      </div>

      <div class="info-content">

        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ ОБ ИСПОЛЬЗОВАНИИ ПРИ РЕАЛИЗАЦИИ ОБРАЗОВАТЕЛЬНЫХ ПРОГРАММ ЭЛЕКТРОННОГО ОБУЧЕНИЯ И ДИСТАНЦИОННЫХ
            ОБРАЗОВАТЕЛЬНЫХ ТЕХНОЛОГИЙ.
          </h3>
          <div class="info-item__inner">
            <p>
              В соответствии с Федеральным законом от 29.12.2012 N 273-ФЗ (ред. от 02.07.2021) «Об образовании в
              Российской Федерации» и Приказом Министерства образования и науки РФ от 23 августа 2017 г. N 816 «Об
              утверждении Порядка применения организациями, осуществляющими образовательную деятельность, электронного
              обучения, дистанционных образовательных технологий при реализации образовательных программ» при реализации
              образовательных программ подготовки специалистов среднего звена в соответствии с рабочими программами по
              дисциплинам в ЧПОУ ПГТК используются элементы электронного обучения и дистанционных образовательных
              технологий.
            </p>
            <p>
              Под электронным обучением понимается организация образовательной деятельности с применением содержащейся в
              базах данных и используемой при реализации образовательных программ информации и обеспечивающих ее
              обработку информационных технологий, технических средств, а также информационно-телекоммуникационных
              сетей, обеспечивающих передачу по линиям связи указанной информации, взаимодействие обучающихся и
              педагогических работников.
            </p>
            <p>
              Под дистанционными образовательными технологиями понимаются образовательные технологии, реализуемые в
              основном с применением информационно-телекоммуникационных сетей при опосредованном (на расстоянии)
              взаимодействии обучающихся и педагогических работников.При реализации образовательных программ с
              применением электронного обучения, дистанционных образовательных технологий ЧПОУ ПГТК, обеспечивает защиту
              сведений, составляющих ту или иную охраняемую законом тайну.
            </p>
            <p>
              Главными целями применения дистанционных образовательных технологий как важной составляющей в системе
              беспрерывного образования являются:— повышение качества образования обучающихся в соответствии с их
              интересами, способностями и потребностями;— предоставление обучающимся возможности освоения
              образовательных программ, непосредственно по месту жительства обучающегося или его временного пребывания
              (нахождения).
            </p>
            <p>
              В обучении с применением дистанционных образовательных технологий используются следующие организационные
              формы учебной деятельности: лекция, консультация, практическое занятие, лабораторная работа, контрольная
              работа, самостоятельная работа, Самостоятельная работа обучающихся может включать следующие
              организационные формы (элементы) электронного и дистанционного обучения: работа с электронным учебником;
              просмотр видео-лекций (слайд-лекций); компьютерное тестирование.
            </p>
            <p>
              В период длительной болезни или отсутствия в колледже по уважительной причине обучающийся имеет
              возможность получать консультации преподавателя по соответствующей дисциплине через электронные системы,
              используя для этого канал выхода в Интернет.
            </p>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О ЧИСЛЕННОСТИ ОБУЧАЮЩИХСЯ ПО ДОГОВОРАМ ОБ ОБРАЗОВАНИИ ЗА СЧЕТ СРЕДСТВ ФИЗИЧЕСКИХ И (ИЛИ)
            ЮРИДИЧЕСКИХ ЛИЦ НА 1 ОКТЯБРЯ 2022Г.
          </h3>

          <div class="info-table">
            <!-- Нужна возможность добавлять ширину через переменную при необходимости сделать маленькую таблицу 10px === 1rem -->
            <table class="info-table__inner" style="--width: 71.2rem">
              <thead>
                <tr>
                  <th>
                    Код специальности
                  </th>
                  <th>
                    Наименование специальности
                  </th>
                  <th>
                    Численность обучающихся по заочной форме на базе 11 классов
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>38.02.01</td>
                  <td>Экономика и бухгалтерский учет (по отраслям)</td>
                  <td>82</td>
                </tr>
                <tr>
                  <td>38.02.04</td>
                  <td>Коммерция (по отраслям)</td>
                  <td>88</td>
                </tr>
                <tr>
                  <td>40.02.01</td>
                  <td>Право и организация социального обеспечения</td>
                  <td>488</td>
                </tr>
                <tr>
                  <td>44.02.01</td>
                  <td>Дошкольное образование</td>
                  <td>143</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="info-item">
          <h3>
            РЕЗУЛЬТАТЫ ПЕРЕВОДА, ВОССТАНОВЛЕНИЯ, ОТЧИСЛЕНИЯ ОБУЧАЮЩИХСЯ
            С 30 СЕНТЯБРЯ 2021 ПО 01 ОКТЯБРЯ 2022Г.
          </h3>

          <div class="info-table">
            <table class="info-table__inner" style="--width: 71.2rem">
              <thead>
                <tr>
                  <th>
                    Движение обучающихся
                  </th>
                  <th>
                    Заочная форма обучения на базе 11 классов
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Прибыло студентов - всего</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>в том числе:переведено из других образовательных организаций</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>восстановлены из числа ранее отчисленных</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Выбыло студентов - всего</td>
                  <td>73</td>
                </tr>
                <tr>
                  <td>в том числе:добровольно прекратили образовательные отношения</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>отчислено:по неуспеваемости</td>
                  <td>58</td>
                </tr>
                <tr>
                  <td>в том числе не прошли итоговую аттестацию</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>выбыло по другим причинам</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Численность студентов на начало прошлого учебного года (на 1 октября)</td>
                  <td>870</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕЗУЛЬТАТАХ ПРИЕМА ПО ДОГОВОРАМ ОБ ОКАЗАНИИ ПЛАТНЫХ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ ПО СПЕЦИАЛЬНОСТЯМ
            СРЕДНЕГО ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ ДЛЯ ОБУЧЕНИЯ ПО ИМЕЮЩИМ ГОСУДАРСТВЕННУЮ АККРЕДИТАЦИЮ ОБРАЗОВАТЕЛЬНЫМ
            ПРОГРАММАМ ПОДГОТОВКИ СПЕЦИАЛИСТОВ СРЕДНЕГО ЗВЕНА 2022/2023 УЧЕБНЫЙ ГОД
            НА 30 НОЯБРЯ 2022Г.
          </h3>

          <div class="info-table">
            <table class="info-table__inner" style="--width: 71.2rem">
              <thead>
                <tr>
                  <th>
                    Код специальности
                  </th>
                  <th>
                    Наименование специальности
                  </th>
                  <th>
                    Принято по договорам об оказании платных образовательных услуг на заочную форму на базе 11 классов
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>38.02.01</td>
                  <td>Экономика и бухгалтерский учет (по отраслям)</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>38.02.04</td>
                  <td>Коммерция (по отраслям)</td>
                  <td>42</td>
                </tr>
                <tr>
                  <td>40.02.01</td>
                  <td>Право и организация социального обеспечения</td>
                  <td>127</td>
                </tr>
                <tr>
                  <td>44.02.01</td>
                  <td>Дошкольное образование</td>
                  <td>13</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕАЛИЗУЕМЫХ УРОВНЯХ ОБРАЗОВАНИЯ, О ФОРМАХ ОБУЧЕНИЯ, НОРМАТИВНЫХ СРОКАХ ОБУЧЕНИЯ, СРОКЕ ДЕЙСТВИЯ
            ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ.
          </h3>

          <div class="info-table">
            <table class="info-table__inner">
              <thead>
                <tr>
                  <th>
                    Код и наименование специальности
                  </th>
                  <th>
                    Уровень образования
                  </th>
                  <th>
                    Срок действия государственной аккредитации
                  </th>
                  <th>
                    Язык, на котором осуществляется обучение
                  </th>
                  <th>
                    Форма обучения
                  </th>
                  <th>
                    Нормативный срок обучения по заочной форме
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>38.02.01</p>
                    <p>Экономика и бухгалтерский учет (по отраслям)</p>
                  </td>
                  <td>среднее профессиональное</td>
                  <td>бессрочно</td>
                  <td>русский</td>
                  <td>заочная</td>
                  <td>2 года 10 месяцев</td>
                </tr>
                <tr>
                  <td>
                    <p>40.02.01</p>
                    <p>Право и организация социального обеспечения</p>
                  </td>
                  <td>среднее профессиональное</td>
                  <td>бессрочно</td>
                  <td>русский</td>
                  <td>заочная</td>
                  <td>2 года 10 месяцев</td>
                </tr>
                <tr>
                  <td>
                    <p>44.02.01</p>
                    <p>Дошкольное образование</p>
                  </td>
                  <td>среднее профессиональное</td>
                  <td>бессрочно</td>
                  <td>русский</td>
                  <td>заочная</td>
                  <td>3 года 10 месяцев</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="info-item">
          <h3>
            ИНФОРМАЦИЯ О РЕАЛИЗУЕМЫХ УРОВНЯХ ОБРАЗОВАНИЯ, О ФОРМАХ ОБУЧЕНИЯ, НОРМАТИВНЫХ СРОКАХ ОБУЧЕНИЯ, СРОКЕ ДЕЙСТВИЯ
            ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ.
          </h3>

          <div class="info-table">
            <table class="info-table__inner">
              <thead>
                <tr>
                  <th>
                    №
                  </th>
                  <th>
                    Образовательная программа- описание образовательной программы с приложением ее копии, включая
                    аннотации к рабочим программам дисциплин; рабочие программы дисциплин
                  </th>
                  <th>
                    Учебный план и календарный учебный график с приложением копий
                  </th>
                  <th>
                    Практики рабочие программы практики
                  </th>
                  <th>
                    Методические и иные документы
                  </th>
                  <th>
                    Использование при реализации образовательных программ электронного обучения и дистанционных
                    образовательных технологий
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <strong>1</strong>
                  </td>
                  <td>
                    <p>
                      44.02.01- Дошкольное образование
                    </p>
                    <p>
                      -Пояснительная записка к учебному плану
                    </p>
                    <p>
                      -Рабочие программы дисциплин и профессиональных модулей
                    </p>
                    <p>
                      -Рабочая программа воспитания
                    </p>
                    <p>
                      -Программа государственной итоговой аттестации
                    </p>
                  </td>
                  <td>
                    <p>2019 заочная форма обучения</p>
                    <p>2020 заочная форма обучения</p>
                    <p>2021 заочная форма обучения</p>
                    <p>2022 заочная форма обучения</p>
                  </td>
                  <td>Программы практики</td>
                  <td>Методические пособия и указания по изучению дисциплин</td>
                  <td>Используются</td>
                </tr>
                <tr>
                  <td>
                    <strong>2</strong>
                  </td>
                  <td>
                    <p>
                      40.02.01- Право и организация социального обеспечения
                    </p>
                    <p>
                      -Пояснительная записка к учебному плану
                    </p>
                    <p>
                      -Рабочие программы дисциплин и профессиональных модулей
                    </p>
                    <p>
                      -Рабочая программа воспитания
                    </p>
                    <p>
                      -Программа государственной итоговой аттестации
                    </p>
                  </td>
                  <td>
                    <p>2019 заочная форма обучения</p>
                    <p>2020 заочная форма обучения</p>
                    <p>2021 заочная форма обучения</p>
                  </td>
                  <td>Программы практики</td>
                  <td>Методические пособия и указания по изучению дисциплин</td>
                  <td>Используются</td>
                </tr>
                <tr>
                  <td><strong>3</strong></td>
                  <td>
                    <p>
                      38.02.01- Экономика и бухгалтерский учет (по отраслям)
                    </p>
                    <p>
                      -Пояснительная записка к учебному плану
                    </p>
                    <p>
                      -Рабочие программы дисциплин и профессиональных модулей
                    </p>
                    <p>
                      -Рабочая программа воспитания
                    </p>
                    <p>
                      -Программа государственной итоговой аттестации
                    </p>
                  </td>
                  <td>
                    <p>2019 заочная форма обучения</p>
                    <p>2020 заочная форма обучения</p>
                    <p>2021 заочная форма обучения</p>
                  </td>
                  <td>Программы практики</td>
                  <td>Методические пособия и указания по изучению дисциплин</td>
                  <td>Используются</td>
                </tr>
                <tr>
                  <td><strong>4</strong></td>
                  <td>
                    <p>
                      38.02.04- Коммерция (по отраслям)
                    </p>
                    <p>
                      -Пояснительная записка к учебному плану
                    </p>
                    <p>
                      -Рабочие программы дисциплин и профессиональных модулей
                    </p>
                    <p>
                      -Рабочая программа воспитания
                    </p>
                    <p>
                      -Программа государственной итоговой аттестации
                    </p>
                  </td>
                  <td>
                    <p>2019 заочная форма обучения</p>
                    <p>2020 заочная форма обучения</p>
                    <p>2021 заочная форма обучения</p>
                  </td>
                  <td>Программы практики</td>
                  <td>Методические пособия и указания по изучению дисциплин</td>
                  <td>Используются</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="info-link">
          <h3 class="info-link__title">
            МЕТОДИЧЕСКИЕ И ИНЫЕ ДОКУМЕНТЫ, РАЗРАБОТАННЫЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИЕЙ ДЛЯ ОБЕСПЕЧЕНИЯ ОБРАЗОВАТЕЛЬНОГО
            ПРОЦЕССА
          </h3>

          <a href="#" class="info-link__btn">ОТКРЫТЬ</a>
        </div>
        <div class="info-item">
          <h3>
            РЕЗУЛЬТАТЫ ПРИЕМА НА 2022-2023 УЧЕБНЫЙ ГОД
          </h3>

          <div class="info-item__inner">
            <h6>
              <a href="#">
                Приказ №21/С от 29.08.2022
              </a>
            </h6>
            <h6>
              <a href="#">
                Приказ №36/С от 29.11.2022
              </a>
            </h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>