<section class="main">

  <!-- <div class="main-top">
    <div class="container main-top-container">

      <form action="#" class="main-top-form">
        <h1 class="section-title main-top__title">
          Частное профессиональное образовательное учреждение «Пензенский гуманитарно-технический колледж»
        </h1>

        <div class="main-top-form__inner">
          <div class="main-top-form__input">
            <svg>
              <use href="#user-icon"></use>
            </svg>
            <input type="text" placeholder="Имя">
          </div>

          <div class="main-top-form__input">
            <svg>
              <use href="#tel-icon"></use>
            </svg>
            <input type="text" placeholder="Телефон">
          </div>

          <div class="main-top-form__legal">
            <p>
              Нажимая на кнопку вы соглашаетесь на обработку персональных данных, получение рассылок, а также с
              <a href="#">политикой конфиденциальности</a>.
            </p>
          </div>

          <button class="main-top-form__btn">Получить консультацию</button>
        </div>
      </form>

      <div class="main-top__img">
        <img src="./assets/images/main-top.jpg" alt="img">
      </div>
    </div>
  </div> -->

  <!-- <div class="main-advantages">
    <div class="container">
      <h3 class="section-title main-advantages__title">Почему стоит учиться у нас</h3>

      <ul class="main-advantages-list">
        <li class="main-advantages-list__item">
          <span class="main-advantages-list__number">1</span>
          <h4 class="block-title main-advantages-list__title">ГОСУДАРСТВЕННАЯ ЛИЦЕНЗИЯ</h4>
          <p class="main-advantages-list__text">
            Наше право вести образовательную деятельность подкреплено всеми необходимыми документами государственного
            образца!
          </p>
        </li>
        <li class="main-advantages-list__item">
          <span class="main-advantages-list__number">2</span>
          <h4 class="block-title main-advantages-list__title">ПРЕПОДАВАТЕЛЬСКИЙ СОСТАВ</h4>
          <p class="main-advantages-list__text">
            Мы сотрудничаем с лучшими преподавателями, большинство из которых имеет высокие ученые степени!
          </p>
        </li>
        <li class="main-advantages-list__item">
          <span class="main-advantages-list__number">3</span>
          <h4 class="block-title main-advantages-list__title">МАТЕРИАЛЬНО-ТЕХНИЧЕСКАЯ БАЗА</h4>
          <p class="main-advantages-list__text">
            Мы делаем ставку на высокие технологии и современные методики обучения!
          </p>
        </li>
        <li class="main-advantages-list__item">
          <span class="main-advantages-list__number">4</span>
          <h4 class="block-title main-advantages-list__title">ДИСТАНЦИОННЫЕ ТЕХНОЛОГИИ</h4>
          <p class="main-advantages-list__text">
            Учебный процесс в нашем колледже – это передовые it-решения и занятия по вашим правилам!
          </p>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="main-specialization">
    <div class="container">

      <h3 class="section-title main-specialization__title">Наши специальности</h3>

      <ul class="main-specialization-list">
        <li class="main-specialization-list-item">
          <div class="main-specialization-list-item__head">
            <h4 class="block-title main-specialization-list-item__title">ДОШКОЛЬНОЕ ОБРАЗОВАНИЕ</h4>
            <p class="main-specialization-list-item__text">
              Квалификация: воспитатель детей дошкольного возраста
            </p>
          </div>
          <a href="#" class="main-specialization-list-item__inner">
            <img src="./assets/images/main-specialization-1.jpg" alt="img" class="main-specialization-list-item__img">
            <svg class="main-specialization-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
            <div class="main-specialization-list-item__bg">
              <span class="main-specialization-list-item__link">
                Подробнее
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </span>
            </div>
          </a>
        </li>

        <li class="main-specialization-list-item">
          <div class="main-specialization-list-item__head">
            <h4 class="block-title main-specialization-list-item__title">ЮРИСПРУДЕНЦИЯ</h4>
            <p class="main-specialization-list-item__text">
              Квалификация: юрист
            </p>
          </div>
          <a href="#" class="main-specialization-list-item__inner">
            <img src="./assets/images/main-specialization-2.jpg" alt="img" class="main-specialization-list-item__img">
            <svg class="main-specialization-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
            <div class="main-specialization-list-item__bg">
              <span class="main-specialization-list-item__link">
                Подробнее
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </span>
            </div>
          </a>
        </li>

        <li class="main-specialization-list-item">
          <div class="main-specialization-list-item__head">
            <h4 class="block-title main-specialization-list-item__title">ЭКОНОМИКА И БУХГАЛТЕРСКИЙ УЧЕТ (по отраслям)
            </h4>
            <p class="main-specialization-list-item__text">
              Квалификация: бухгалтер
            </p>
          </div>
          <a href="#" class="main-specialization-list-item__inner">
            <img src="./assets/images/main-specialization-3.jpg" alt="img" class="main-specialization-list-item__img">
            <svg class="main-specialization-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
            <div class="main-specialization-list-item__bg">
              <span class="main-specialization-list-item__link">
                Подробнее
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </span>
            </div>
          </a>
        </li>

        <li class="main-specialization-list-item">
          <div class="main-specialization-list-item__head">
            <h4 class="block-title main-specialization-list-item__title">КОММЕРЦИЯ (по отраслям)</h4>
            <p class="main-specialization-list-item__text">
              Квалификация: менеджер по продажам
            </p>
          </div>
          <a href="#" class="main-specialization-list-item__inner">
            <img src="./assets/images/main-specialization-4.jpg" alt="img" class="main-specialization-list-item__img">
            <svg class="main-specialization-list-item__icon">
              <use href="#link-arrow-icon"></use>
            </svg>
            <div class="main-specialization-list-item__bg">
              <span class="main-specialization-list-item__link">
                Подробнее
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="main-docs">
    <div class="container main-docs-container">

      <div class="main-docs-item">
        <div class="main-docs-item__info">
          <h4 class="section-title main-docs-item__title">Лицензия</h4>
        </div>

        <div class="main-docs-item__list">
          <a href="./assets/images/main-docs-1.jpg" class="main-docs-item__img main-docs-item__img_border"
            data-fancybox>
            <img src="./assets/images/main-docs-1.jpg" alt="doc">
          </a>
          <a href="./assets/images/main-docs-2.jpg" class="main-docs-item__img main-docs-item__img_border"
            data-fancybox>
            <img src="./assets/images/main-docs-2.jpg" alt="doc">
          </a>
        </div>
      </div>

      <div class="main-docs-item">
        <div class="main-docs-item__info">
          <h4 class="section-title main-docs-item__title">Аккредитация</h4>

          <div class="main-docs-item__text">
            <p>
              Государственная аккредитация образовательной деятельности подтверждает соответствия реализуемых основных
              образовательных программ и подготовки обучающихся требованиям федеральных государственных образовательных
              стандартов.
            </p>
          </div>
        </div>

        <div class="main-docs-item__list">
          <a href="./assets/images/main-docs-3.jpg" class="main-docs-item__img" data-fancybox>
            <img src="./assets/images/main-docs-3.jpg" alt="doc">
          </a>
          <a href="./assets/images/main-docs-4.jpg" class="main-docs-item__img" data-fancybox>
            <img src="./assets/images/main-docs-4.jpg" alt="doc">
          </a>
        </div>
      </div>

    </div>
  </div> -->

  <!-- <div class="main-news">
    <div class="container">
      <h3 class="section-title main-news__title">Новости</h3>

      <div class="main-news-list">
        <a href="#" class="main-news-list-item">
          <div class="main-news-list-item__img">
            <img src="./assets/images/main-news-1.jpg" alt="news">
          </div>

          <span class="main-news-list-item__date">02 Марта 2023</span>

          <h5 class="block-title main-news-list-item__title">
            ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
          </h5>

          <span class="main-news-list-item__link">
            Читать
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
        <a href="#" class="main-news-list-item">
          <div class="main-news-list-item__img">
            <img src="./assets/images/main-news-1.jpg" alt="news">
          </div>

          <span class="main-news-list-item__date">02 Марта 2023</span>

          <h5 class="block-title main-news-list-item__title">
            ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
          </h5>

          <span class="main-news-list-item__link">
            Читать
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
        <a href="#" class="main-news-list-item">
          <div class="main-news-list-item__img">
            <img src="./assets/images/main-news-1.jpg" alt="news">
          </div>

          <span class="main-news-list-item__date">02 Марта 2023</span>

          <h5 class="block-title main-news-list-item__title">
            ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
          </h5>

          <span class="main-news-list-item__link">
            Читать
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
        <a href="#" class="main-news-list-item">
          <div class="main-news-list-item__img">
            <img src="./assets/images/main-news-1.jpg" alt="news">
          </div>

          <span class="main-news-list-item__date">02 Марта 2023</span>

          <h5 class="block-title main-news-list-item__title">
            ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
          </h5>

          <span class="main-news-list-item__link">
            Читать
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div> -->

  <!-- <div class="main-info">
    <div class="container main-info-container">

      <div class="main-info-slider">
        <div class="main-info-slider__head">
          <h3 class="section-title main-info-slider__title">Как учиться у нас</h3>

          <div class="main-info-slider__btns">
            <button class="main-info-slider__btn main-info-slider__btn_prev">
              <svg>
                <use href="#arrow-left-icon"></use>
              </svg>
            </button>
            <button class="main-info-slider__btn main-info-slider__btn_next">
              <svg>
                <use href="#arrow-right-icon"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="swiper main-info-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">ЗАОЧНАЯ Форма обучения</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">Каникулы</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  Для студентов предусмотрены зимние каникулы, продолжительностью не более 14 дней и летние каникулы,
                  продолжительностью 2 месяца (июль, август).
                </p>
              </div>
            </div>
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">Сессии</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  У нас две экзаменационные сессии: зимняя в декабре, летняя в июне.
                </p>
              </div>
            </div>
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">ЗАОЧНАЯ Форма обучения</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">Каникулы</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  Для студентов предусмотрены зимние каникулы, продолжительностью не более 14 дней и летние каникулы,
                  продолжительностью 2 месяца (июль, август).
                </p>
              </div>
            </div>
            <div class="swiper-slide main-info-swiper-slide">
              <h4 class="block-title main-info-swiper-slide__title">Сессии</h4>
              <div class="main-info-swiper-slide__text">
                <p>
                  У нас две экзаменационные сессии: зимняя в декабре, летняя в июне.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-info-form">
        <div class="main-info-form__info">
          <h3 class="section-title main-info-form__title">
            Cрок подачи документов: <br>
            с 1 апреля 2023 г.
          </h3>
          <p class="main-info-form__text">
            Получите подробную консультацию по всем интересующим вопросам о подаче документов.
          </p>
        </div>

        <div class="main-info-form__inner">
          <h5 class="main-info-form__subtitle">Получить консультацию</h5>
          <input type="text" class="main-info-form__input" placeholder="Имя">
          <input type="text" class="main-info-form__input" placeholder="Телефон">
          <input type="text" class="main-info-form__input" placeholder="E-mail">
          <p class="main-info-form__legal">
            Нажимая на кнопку вы соглашаетесь на обработку персональных данных, получение рассылок, а также с
            <a href="#">политикой конфиденциальности</a>.
          </p>
          <button class="main-info-form__btn">Отправить</button>
        </div>
      </div>

    </div>
  </div> -->

  <!-- <div class="main-partners">
    <div class="container">

      <div class="main-partners__head">
        <h3 class="section-title main-partners__title">Наши партнеры</h3>

        <p class="main-partners__text">
          Выпускникам нашего колледжа мы предлагаем поступить без экзаменов в наши партнерские вузы для получения
          высшего образования. А также помогаем с трудоустройством.
        </p>
      </div>

      <ul class="main-partners-list">
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-1.png" alt="partners">
        </li>
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-2.jpg" alt="partners">
        </li>
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-3.jpg" alt="partners">
        </li>
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-4.jpg" alt="partners">
        </li>
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-5.jpg" alt="partners">
        </li>
        <li class="main-partners-list__item">
          <img src="./assets/images/main-partners-6.jpg" alt="partners">
        </li>
      </ul>

    </div>
  </div> -->

</section>