<section class="news">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        НОВОСТИ
      </h1>
    </div>

    <div class="news-list">
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="main-news-list-item">
        <div class="main-news-list-item__img">
          <img src="./assets/images/main-news-1.jpg" alt="news">
        </div>

        <span class="main-news-list-item__date">02 Марта 2023</span>

        <h5 class="block-title main-news-list-item__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h5>

        <span class="main-news-list-item__link">
          Читать
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </span>
      </a>
    </div>

  </div>
</section>