<section class="news-page">
  <div class="container">

    <div class="page-head-nav">
      <a href="#" class="page-head-nav__link">
        Главная
      </a>
      <a href="#" class="page-head-nav__link">
        Новости
      </a>
      <a href="#" class="page-head-nav__link">
        Обучающий семинар спс «консультантплюс»
      </a>
    </div>

    <div class="news-page-container">
      <div class="news-page-content">
        <h1 class="news-page__title">
          ОБУЧАЮЩИЙ СЕМИНАР СПС «КОНСУЛЬТАНТПЛЮС»
        </h1>

        <span class="news-page__date">02 Марта 2023</span>

        <div class="news-page__text">
          <p>
            1 марта сотрудники Пензенского гуманитарно-технического колледжа были в роли студентов.Каждый год Агентство
            Деловой Информации проводит обучающие семинары для преподавателей «Применение СПС КонсультантПлюс в
            образовательном процессе».Наши преподаватели узнали о новшествах в СПС «КонсультантПлюс», познакомились с
            интересными методическими разработками, новыми свойствами и возможностями.После завершения семинара
            преподавателям вручили сертификаты, подтверждающие право проводить обучение и принимать квалифицированный
            зачет и экзамен по курсу СПС.
          </p>
        </div>
      </div>

      <div class="news-page-img">
        <img src="./assets/images/main-news-1.jpg" alt="">

        <a href="#" class="news-page__link">
          Следующая новость
          <svg>
            <use href="#arrow-right-icon"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>