<section class="questions">
  <div class="container">

    <div class="page-head">
      <h1 class="page-head__title">
        ЧАСТОЗАДАВАЕМЫЕ ВОПРОСЫ
      </h1>
    </div>

    <div class="questions-inner">

      <div class="questions-list">
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Как поступить в ваш колледж, что для этого нужно сделать?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа

            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Какие документы необходимы для поступления?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Что такое дистанционное обучение?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа

            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа

            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Как будет проходить процесс обучения?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Могу ли я обращаться за помощью к живым преподавателям по ходу учебы?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Как узнать сроки набора на выбранную специальность?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Могу ли я поступить в ваш колледж, если я уже учусь в другом колледже?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Будет ли в дипломе указано, что обучение происходило дистанционно?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
        <div class="questions-list-item">
          <button type="button" class="questions-list-item__btn">
            Какими способами можно произвести оплату обучения?
          </button>

          <div class="questions-list-item__content">
            Прием в ЧПОУ ПГТК для обучения по образовательным программам среднего профессионального образования
            проводится по личному заявлению граждан. Вся информация о правилах приема находится в приемной комиссии и на
            официальном сайте колледжа
          </div>
        </div>
      </div>

      <div class="questions-content">

      </div>

    </div>

  </div>
</section>