<section class="specialties">

  <div class="specialties-head">
    <div class="container specialties-head__container">

      <div class="specialties-head-top">
        <div class="specialties-head-main">
          <h1 class="specialties-head-main__title">
            Дошкольное образование
          </h1>

          <p class="specialties-head-main__text">
            Воспитание и обучение детей – это настоящее искусство, безграничное по своей сложности и глубине. Стать
            специалистом на этом поприще можно лишь в одном случае – выбрав для обучения действительно хороший вуз или
            колледж. ПГТК принадлежит к числу таких образовательных организаций. Благодаря нашим первоклассным методикам
            преподавания Вы сможете менее чем за три года стать дипломированным воспитателем детей дошкольного возраста.
            Наша программа позволяет приобрести все необходимые знания для успешной работы по данному профилю!
            Специальность «Дошкольное образование» в ПГТК – лучший выбор для тех, кто считает педагогику и психологию
            своим истинным призванием!
          </p>
        </div>

        <div class="specialties-head-info">
          <div class="specialties-head-info__item">
            <p class="specialties-head-info__subtitle">
              Квалификация:
            </p>
            <p class="specialties-head-info__text">
              Воспитатель детей дошкольного возраста
            </p>
          </div>
          <div class="specialties-head-info__item">
            <p class="specialties-head-info__subtitle">
              Код специальности:
            </p>
            <p class="specialties-head-info__text">
              44.02.01
            </p>
          </div>
          <div class="specialties-head-info__item">
            <p class="specialties-head-info__subtitle">
              Срок подачи документов:
            </p>
            <p class="specialties-head-info__text">
              с 1 апреля 2023 г.
            </p>
          </div>
        </div>
      </div>

      <ul class="specialties-head-list">
        <li class="specialties-head-list-item">
          <p class="specialties-head-list-item__subtitle">
            Форма обучения
          </p>
          <p class="specialties-head-list-item__text">
            Очная, заочная
          </p>
        </li>
        <li class="specialties-head-list-item">
          <p class="specialties-head-list-item__subtitle">
            Вступительные экзамены
          </p>
          <p class="specialties-head-list-item__text">
            Без вступительных
            экзаменов
          </p>
        </li>
        <li class="specialties-head-list-item">
          <p class="specialties-head-list-item__subtitle">
            Сроки обучения
          </p>
          <p class="specialties-head-list-item__text">
            На базе 11 классов:
            2 года 10 месяцев (очно)
            3 года 10 месяцев (заочно)
          </p>
        </li>
        <li class="specialties-head-list-item">
          <p class="specialties-head-list-item__subtitle">
            Стоимость
          </p>
          <p class="specialties-head-list-item__text">
            21 400 руб/семестр (очно)
            10 600 руб/ семестр (заочно)
          </p>
        </li>
      </ul>

    </div>
  </div>

  <div class="container">

    <div class="specialties-plan">
      <h3 class="section-title specialties-plan__title">
        Учебный план
      </h3>

      <ul class="specialties-plan-list">
        <li class="specialties-plan-list__item">
          Педагогика
        </li>
        <li class="specialties-plan-list__item">
          Психология
        </li>
        <li class="specialties-plan-list__item">
          Возрастная анатомия, физиология и гигиена
        </li>
        <li class="specialties-plan-list__item">
          Теоретические основы дошкольного образования
        </li>
        <li class="specialties-plan-list__item">
          Психология дошкольного развития. Образовательные программы детей дошкольного возраста
        </li>
        <li class="specialties-plan-list__item">
          Медико-биологические и социальные основы здоровья
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и методические основы физического воспитания и развития детей раннего и дошкольного возраста
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и методические основы организации игровой деятельности детей раннего и дошкольного возраста
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и методические основы организации трудовой деятельности дошкольников
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и методические основы организации продуктивных видов деятельности детей дошкольного возраста
        </li>
        <li class="specialties-plan-list__item">
          Психолого-педагогические основы организации общения детей дошкольного возраста
        </li>
        <li class="specialties-plan-list__item">
          Теоретические основы организации обучения в разных возрастных группах
        </li>
        <li class="specialties-plan-list__item">
          Теория и методика развития речи у детей
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и методические основы взаимодействия воспитателя с родителями (лицами, их заменяющими) и
          сотрудниками дошкольной образовательной организации
        </li>
        <li class="specialties-plan-list__item">
          Теоретические и прикладные аспекты методической работы воспитателя детей дошкольного возраста
        </li>
      </ul>
    </div>

    <div class="specialties-docs">
      <h3 class="section-title specialties-docs__title">
        Документы для поступления
      </h3>

      <ul class="specialties-docs-list">
        <li class="specialties-docs-list-item">
          <span class="specialties-docs-list-item__number">1</span>
          <p class="specialties-docs-list-item__text">
            Оригинал или ксерокопия документов, удостоверяющих вашу личность, гражданство
          </p>
        </li>
        <li class="specialties-docs-list-item">
          <span class="specialties-docs-list-item__number">2</span>
          <p class="specialties-docs-list-item__text">
            Оригинал или ксерокопия документа об образовании и (или) квалификации
          </p>
        </li>
        <li class="specialties-docs-list-item">
          <span class="specialties-docs-list-item__number">3</span>
          <p class="specialties-docs-list-item__text">
            4 цветные фотографии
          </p>
        </li>
        <li class="specialties-docs-list-item">
          <span class="specialties-docs-list-item__number">4</span>
          <p class="specialties-docs-list-item__text">
            Результат прохождения медицинского осмотра в соответствии с Постановлением Правительства РФ от 14 августа
            2013 г. № 697, содержащего сведения о проведении медицинского осмотра в соответствии с перечнем
            врачей-специалистов по приказу Министерства здравоохранения и социального развития РФ от 12 апреля 2011 г. №
            302н
          </p>
        </li>
      </ul>
    </div>

    <div class="specialties-advantages">
      <h3 class="section-title specialties-advantages__title">
        Преимущества учиться у нас
      </h3>

      <ul class="specialties-advantages-list">
        <li class="specialties-advantages-list-item">
          <p class="specialties-advantages-list-item__title">
            Качественный контент
          </p>
          <p class="specialties-advantages-list-item__text">
            Мы делаем ставку на высокие технологии и современные методики обучения
          </p>
        </li>
        <li class="specialties-advantages-list-item">
          <p class="specialties-advantages-list-item__title">
            Дистанционное обучение
          </p>
          <p class="specialties-advantages-list-item__text">
            Учебный процесс в нашем колледже – это передовые it-решения и занятия по вашим правилам!
          </p>
        </li>
        <li class="specialties-advantages-list-item">
          <p class="specialties-advantages-list-item__title">
            Самостоятельное планирование расписания
          </p>
          <p class="specialties-advantages-list-item__text">
            Планируй расписание под себя
          </p>
        </li>
        <li class="specialties-advantages-list-item">
          <p class="specialties-advantages-list-item__title">
            диплом установленного образца
          </p>
          <p class="specialties-advantages-list-item__text">
            После окончания обучения выдаем диплом установленного образца
          </p>
        </li>
      </ul>
    </div>

  </div>

  <div class="specialties-form">
    <div class="container">
      <div class="main-info-form">
        <div class="main-info-form__info">
          <h3 class="section-title main-info-form__title">
            Cрок подачи документов: <br>
            с 1 апреля 2023 г.
          </h3>
          <p class="main-info-form__text">
            Получите подробную консультацию по всем интересующим вопросам о подаче документов.
          </p>
        </div>

        <div class="main-info-form__inner">
          <h5 class="main-info-form__subtitle">Получить консультацию</h5>
          <input type="text" class="main-info-form__input" placeholder="Имя">
          <input type="text" class="main-info-form__input" placeholder="Телефон">
          <input type="text" class="main-info-form__input" placeholder="E-mail">
          <p class="main-info-form__legal">
            Нажимая на кнопку вы соглашаетесь на обработку персональных данных, получение рассылок, а также с
            <a href="#">политикой конфиденциальности</a>.
          </p>
          <button class="main-info-form__btn">Отправить</button>
        </div>
      </div>
    </div>
  </div>

</section>