<section class="student">
  <div class="container">
    <div class="page-head">
      <h1 class="page-head__title">
        абитуриентам
      </h1>
    </div>
  </div>

  <div class="student-container">

    <div class="info-item">
      <div class="info-item__inner">
        <p>
          Пензенский гуманитарно-технический колледж (ПГТК) – это образовательная организация, привлекающая талантливую
          и целеустремлённую молодёжь. Мы приглашаем вас воспользоваться передовыми технологическими решениями
          для изучения
          любимых предметов с максимальным удобством!
        </p>
        <p>
          ПГТК предлагает эффективное и качественное обучение, основанное на использовании эффективных дистанционных
          технологий. Наши современные облачные решения дают вам возможность освоить избранную профессию не выходя
          из дома!
          Составляйте индивидуальный график занятий и используйте для учёбы любые мультимедийные устройства,
          подключённые
          к сети Интернет! Благодаря нам наступает время, когда ваш ноутбук, планшет или смартфон превращается
          в идеальный
          инструмент для получения специальности мечты!
        </p>
        <p>
          Наши двери всегда открыты для вас! Мы рады ответить на любые интересующие вопросы по телефону
          +7 8412 49-10-41.
          Также вы можете связаться с нами по электронной почте penza.kolledzh@mail.ru или же прийти в наш главный офис
          по адресу г. Пенза, ул. Пролетарская, д. 3, корп. 4. Присоединяйтесь к дружной команде обучающихся в ПГТК!
          Вместе
          с нами вы покоряете будущее!
        </p>
      </div>
    </div>

    <div class="info-item">
      <h3>
        Перечень специальностей, по которым ЧПОУ ПГТК объявляет приём в соответствии с лицензией на осуществление
        образовательной деятельности в 2023/2024 учебном году
      </h3>
    </div>

    <div class="info-table info-table_12">
      <div class="info-table__container">
        <div class="info-table-item info-table-head">
          <div class="info-table-item__text">
            Специальность
          </div>
          <div class="info-table-item__inner">
            <div class="info-table-item__text">
              Срок обучения по очной форме
            </div>
            <div class="info-table-item__text">
              на базе 9 классов
            </div>
            <div class="info-table-item__text">
              на базе 11 классов
            </div>
          </div>
          <div class="info-table-item__inner">
            <div class="info-table-item__text">
              Срок обучения по очной форме
            </div>
            <div class="info-table-item__text">
              на базе 9 классов
            </div>
            <div class="info-table-item__text">
              на базе 11 классов
            </div>
          </div>
        </div>
        <div class="info-table-item">
          <div class="info-table-item__text">
            <p>38.02.01</p>
            <p>
              Экономика и бухгалтерский учет (по отраслям)
            </p>
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            2 года 10 месяцев
          </div>
        </div>
        <div class="info-table-item">
          <div class="info-table-item__text">
            <p>38.02.01</p>
            <p>
              Коммерция (по отраслям)
            </p>
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            2 года 10 месяцев
          </div>
        </div>
        <div class="info-table-item">
          <div class="info-table-item__text">
            <p>40.02.01</p>
            <p>
              Право и организация социального обеспечения
            </p>
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            2 года 10 месяцев
          </div>
        </div>
        <div class="info-table-item">
          <div class="info-table-item__text">
            <p>44.02.01</p>
            <p>
              Дошкольное образование
            </p>
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            -
          </div>
          <div class="info-table-item__text">
            2 года 10 месяцев
          </div>
        </div>
      </div>
    </div>

    <div class="info-item">
      <h3>
        РЕЗУЛЬТАТЫ ПРИЕМА НА 2022-2023 УЧЕБНЫЙ ГОД
      </h3>

      <div class="info-item__inner">
        <a href="#">
          Приказ №21/С от 29.08.2022
        </a>
        <a href="#">
          Приказ №36/С от 29.11.2022
        </a>
      </div>

      <div class="info-item__inner">
        <h5>
          Общее количество мест для приема в ЧПОУ ПГТК на 2023/2024 учебный год
        </h5>

        <a href="#">
          Общее количество мест для приема по договорам на оказание платных образовательных услуг на базе 11 классов по
          специальностям и формам обучения на 2023/2024 учебный год
        </a>
      </div>

      <div class="info-item__inner">
        <h5>
          Документы Приемной кампании 2023/2024 учебного года
        </h5>
        <a href="#">
          Правила приема в ЧПОУ ПГТК в 2023/2024 учебном году
        </a>
        <a href="#">
          Положение о приемной комиссии
        </a>
        <a href="#">
          Условия приема на обучение по договорам об оказании платных образовательных услуг в 2023/ 2024 учебном году
        </a>
        <a href="#">
          Как подать заявление на поступление в электронном виде, онлайн
        </a>
        <a href="#">
          Бланк заявления
        </a>
        <a href="#">
          Согласие на обработку персональных данных
        </a>
        <a href="#">
          Регистрационный лист
        </a>
        <a href="#">
          Образец Договора об образовании на обучение по образовательной программе среднего профессионального
          образования
        </a>
        <a href="#">
          Приказ №9 от 28.03.2023 г. "О стоимости обучения 1 курса в ЧПОУ ПГТК на 2023/2024 учебный год"
        </a>
      </div>
    </div>

    <div class="info-item">
      <div class="info-item__inner">
        <strong>
          Требования к уровню образования, которое необходимо для поступления в ЧПОУ ПГТК
        </strong>
        <p>
          Прием в колледж для получения среднего профессионального образования проводится на базе среднего общего
          образования (11 классов).
        </p>
      </div>

      <div class="info-item__inner">
        <strong>
          Сроки подачи заявлений на обучение по образовательным программам подготовки по специальностям среднего
          профессионального образования по договорам об образовании в ЧПОУ ПГТК
        </strong>
        <p>
          Прием документов начинается по мере поступления заявлений от поступающих, но не позднее 20 июня.Прием
          заявлений в ЧПОУ ПГТК на очную форму получения образования осуществляется до 15 августа, а при наличии
          свободных мест в образовательной организации прием документов продлевается до 25 ноября текущего года.Сроки
          приема заявлений в ЧПОУ ПГТК на заочную форму получения образования осуществляется до 25 ноября текущего года.
        </p>
      </div>

      <div class="info-item__inner">
        <strong>
          Способы подачи документов на обучение по образовательным программам подготовки по специальностям среднего
          профессионального образования по договорам об образовании в ЧПОУ ПГТК
        </strong>
        <p>
          Поступающие вправе направить/представить в образовательную организацию заявление о приеме, а также необходимые
          документы одним из следующих способов:1) лично в образовательную организацию;2) через операторов почтовой
          связи общего пользования (далее — по почте) заказным письмом с уведомлением о вручении:— по адресу: 440061,
          г.Пенза, ул.Пролетарская, дом 3, корпус 4При направлении документов по почте поступающий к заявлению о приеме
          прилагает копии документов, удостоверяющих его личность и гражданство, копии документов об образовании и (или)
          документа об образовании и о квалификации, а также копии иных документов, предусмотренных Правилами приема;3)
          в электронной форме (документ на бумажном носителе, преобразованный в электронную форму путем сканирования или
          фотографирования с обеспечением машиночитаемого распознавания его реквизитов):— посредством электронной почты
          <a href="#">penza.abiturient@umney.ru</a> или иным способом с использованием информационно —
          телекоммуникационной сети
          «Интернет».
        </p>
      </div>

      <div class="info-item__inner">
        <strong>
          Необходимость прохождения медицинского осмотра
        </strong>
        <p>
          При поступлении на обучение по специальности 44.02.01 Дошкольное образование, входящей в перечень
          специальностей, при приеме на обучение по которым поступающие проходят обязательные предварительные
          медицинские осмотры (обследования) в порядке, установленном при заключении трудового договора или служебного
          контракта по соответствующей должности или специальности (утвержден постановлением Правительства Российской
          Федерации от 14 августа 2013 г. N 697)
        </p>
        <a href="#">
          Информация о необходимости прохождения поступающими обязательного предварительного медицинского осмотра
        </a>
      </div>

      <div class="info-item__inner">
        <strong>
          Общежития
        </strong>
        <p>
          Пензенский гуманитарно-технический колледж реализует обучение с использованием дистанционных образовательных
          технологий, общежитий не имеет.
        </p>
      </div>

      <div class="info-item__inner">
        <strong>
          Вступительные испытания
        </strong>
        <p>
          Прием в ЧПОУ ПГТК на обучение по образовательным программам среднего профессионального образования подготовки
          специалистов среднего звена проводится по представлению оригинала документа о среднем общем образовании.
          Специальность, по которой будет проходить вступительное испытание: 44.02.01 Дошкольное образование.Основание:
          Порядок приема на обучение по образовательным программам среднего профессионального обучения, утвержденный
          приказом Министерства просвещения России от 02.09.2020 № 457 (в ред. от 20.09.2022).Вступительные испытания
          проводятся в соответствии с Программой вступительных испытаний в форме устного психологического
          тестирования.Результаты вступительных испытаний оцениваются по зачетной системе. Зачет выставляется в случае,
          когда поступающий ответил правильно более чем на половину заданий.Успешное прохождение вступительных испытаний
          подтверждает наличие у поступающих определенных творческих способностей, физических и (или) психологических
          качеств, необходимых для обучения по соответствующим образовательным программам.
        </p>
        <a href="#">
          Особенности проведения вступительных испытаний для инвалидов и лиц с ограниченными возможностями здоровья
        </a>
      </div>
    </div>

    <div class="info-item">
      <h3>
        План приема на 2023/2024 учебный год по договорам на оказание платных образовательных услуг на базе 11 классов и
        количество поданных заявлений
      </h3>

      <div class="info-table info-table_13">
        <div class="info-table__container">
          <div class="info-table-item info-table-head">
            <div class="info-table-item__text">
              Код специальности
            </div>
            <div class="info-table-item__text">
              Наименование специальности
            </div>
            <div class="info-table-item__text">
              Квалификация
            </div>
            <div class="info-table-item__text">
              Сроки обучения на базе 11 кл.
            </div>
            <div class="info-table-item__text">
              План приема на заочную форму
            </div>
            <div class="info-table-item__text">
              Подано заявлений на 01.04.2023
            </div>
          </div>
          <div class="info-table-item">
            <div class="info-table-item__text">
              38.02.01
            </div>
            <div class="info-table-item__text">
              Экономика и бухгалтерский учет (по отраслям)
            </div>
            <div class="info-table-item__text">
              бухгалтер
            </div>
            <div class="info-table-item__text">
              по оч.форме –
              1 год 10 мес.
              по заоч.форме –
              2 года 10 мес.
            </div>
            <div class="info-table-item__text">
              100
            </div>
            <div class="info-table-item__text">
              0
            </div>
          </div>
          <div class="info-table-item">
            <div class="info-table-item__text">
              38.02.04
            </div>
            <div class="info-table-item__text">
              Коммерция (по отраслям)
            </div>
            <div class="info-table-item__text">
              менеджер по продажам
            </div>
            <div class="info-table-item__text">
              по оч.форме –
              1 год 10 мес.
              по заоч.форме –
              2 года 10 мес.
            </div>
            <div class="info-table-item__text">
              350
            </div>
            <div class="info-table-item__text">
              0
            </div>
          </div>
          <div class="info-table-item">
            <div class="info-table-item__text">
              40.02.01
            </div>
            <div class="info-table-item__text">
              Право и организация социального обеспечения
            </div>
            <div class="info-table-item__text">
              юрист
            </div>
            <div class="info-table-item__text">
              по оч.форме –
              1 год 10 мес.
              по заоч.форме –
              2 года 10 мес.
            </div>
            <div class="info-table-item__text">
              450
            </div>
            <div class="info-table-item__text">
              0
            </div>
          </div>
          <div class="info-table-item">
            <div class="info-table-item__text">
              44.02.01
            </div>
            <div class="info-table-item__text">
              Дошкольное образование
            </div>
            <div class="info-table-item__text">
              воспитатель детей дошкольного возраста
            </div>
            <div class="info-table-item__text">
              по оч.форме –
              2 год 10 мес.
              по заоч.форме –
              3 года 10 мес.
            </div>
            <div class="info-table-item__text">
              250
            </div>
            <div class="info-table-item__text">
              0
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>