<section class="student">
  <div class="container">
    <div class="page-head">
      <h1 class="page-head__title">
        СТУДЕНТАМ
      </h1>
    </div>
  </div>

  <div class="student-container">

    <div class="info-item">
      <a href="#">
        Приказ №9/1 от 28.03.2023 г. "О стоимости обучения в ЧПОУ ПГТК на 2023/2024 учебный год по программам СПО"
      </a>

      <div class="info-item__inner">
        <h5>
          Образовательная среда
        </h5>
        <a href="#">
          Перейти в Личную студию
        </a>
      </div>

      <div class="info-item__inner">
        <h5>
          Методические и иные документы, разработанные образовательной организацией для обеспечения образовательного
          процесса
        </h5>
        <a href="#">
          Открыть
        </a>
      </div>
    </div>

  </div>

</section>